<% content_for :html_title, 'Contact Us' %>
<div class="content">
  <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
  <div class="how_it_work_left_side">
      <% flash[:notice] = nil %>
	    <div class="seller_back">
	      <div class="create_heading_box message_heading_box">
          <h1 style="margin-top:5px !important; margin-bottom:5px !important;">Get in touch!</h1>
          <p style="margin-left:0px;">You can reach us via email (faisal at researchnation.net), telephone (+442081443220) or through the contact form below.</p>
        </div>
        <div style="padding:10px 0px" id="tabOne">
          <div>
            <%= form_tag :controller => 'main', :action => 'contact_us'%>
              <div class="field">
                <label>Name</label>
                <%= text_field_tag 'name', "" , :size => '30' %>
              </div>
              <div class="field">
                <label>E-mail</label>
                <%= text_field_tag 'email', "" , :size => '30' %>
              </div>
              <div class="field">
                <label>Subject</label>
                <%= text_field_tag 'subject', "" , :size => '30' %>
              </div>
              <div class="field">
                <label>Message</label>
                <%= text_area_tag 'message', "" , :size => '30', :class => 'max_len', :max_length => 1000 %>
              </div>
              <div class="field recaptcha">
                <label>Human</label>
                <div>
                  <%= recaptcha_tags %>
                </div>
              </div>
          </div>
        <div class="Contact_us_button field" style="margin:10px 0px 0px 0px;">
          <%= submit_tag 'Submit', :class => "green_button" %>
        </div>
      </div>
    </div>
  </div>
<%= render :partial => 'how_it_works_links' %>
</div>

