<div class="content">
  <div class="how_it_work_left_side">
	    <% unless flash[:notice].blank? %>
        <p class="flash"><%= flash[:notice] %></p>
      <% end %>
      <% flash[:notice] = nil %>
	    <div class="seller_back">
        <span class="sign_up" id="tab2">Get in touch!</span>
        <div style="padding:10px 0px" class="sign_up_box" id="tabOne">
          <div>
            <%= form_tag :controller => 'main', :action => 'contact_us'%>
              <div class="field">
                <label>Name</label>
                <%= text_field_tag 'name', "" , :size => '30' %>
              </div>
              <div class="field">
                <label>E-mail</label>
                <%= text_field_tag 'email', "" , :size => '30' %>
              </div>
              <div class="field">
                <label>Subject</label>
                <%= text_field_tag 'subject', "" , :size => '30' %>
              </div>
              <div class="field">
                <label>Message</label>
                <%= text_area_tag 'message', "" , :size => '30' %>
              </div>
          </div>
        <div class="sign_up_button field" style="margin:10px 0px 0px 0px;">
          <%= submit_tag 'Submit' %>
        </div>
      </div>
    <!--
    <ul>
      <li>
        <div>
          <% unless flash[:notice].blank? %>
            <p class="flash"><%= flash[:notice] %></p>
          <% end %>
          <% flash[:notice] = nil %>
          <%= form_tag :controller => 'main', :action => 'contact_us'%>
            <h1>Get in touch!</h1>
            <div class="field">
              <label>Name</label>
              <%= text_field_tag 'name', "" , :size => '30' %>
            </div>
            <div class="field">
              <label>E-mail</label>
              <%= text_field_tag 'email', "" , :size => '30' %>
            </div>
            <div class="field">
              <label>Subject</label>
              <%= text_field_tag 'subject', "" , :size => '30' %>
            </div>
            <div class="field">
              <label>Message</label>
              <%= text_area_tag 'message', "" , :size => '30' %>
            </div>
            <div class="sign_up_button field" style="margin:0px">
              <label>&nbsp;</label>
              <%= submit_tag 'Submit' %>
            </div>
            <div class="follow_field">
              <label>&nbsp;</label>
              <a href=""><img src="/images/facebook.png" /></a>
              <a target="_blank" href="http://twitter.com/researchnation"><img src="/images/twitter.png" /></a>
            </div>
          </form>
        </div>
      </li>
    </ul>
    -->
  </div>
</div>
<%= render :partial => 'contact_links' %>
