<div class="banner">
	<div class="banner_text">
		<h2>A MARKETPLACE FOR ORIGINAL, HIGH-QUALITY MARKET RESEARCH</h2>
			<p>Sign up to quickly create a custom web page to sell & share your data & insights. It's exclusive, completely free, and very easy to use</p>
		<% unless logged_in? %>
			<%= render :partial => 'users/errors' %>
			<% form_for(@user , :url => {:controller => "users", :action => "create" } ) do |f| %>
			<div class="new_field">
				<label>Enter your email</label>
				<%= f.text_field 'email', :id => "email", :class => 'required email' %>
			</div>
			<div class="new_field">
			<label>Enter you password</label>
				<%= f.password_field 'password', :id => "password", :class => 'required password' %>
			</div>
			<div class="new_field1 new_field ">
			<label>I am a</label>
				<%= ( f.select "user_type", ["Buyer", "Seller (Individual)", "Seller (Company)" ], { :include_blank => "Click to choose" }, {:class => 'required' }) %>
			</div>
			<div class="sign_up_button" style="margin-left:0px !important;"><%= (f.submit "One Click Sign-up", :controller => "users", :action => "register")%></div>
			<span>By signing up you agree to our Terms of Service and Privacy Policy</span>
			<% end %>
		<% end %>
		<%= link_to "Create a post now", :controller => "resources", :action => "upload_docs" if logged_in? %>
	</div>

	<img src="/images/banner.jpg" />
</div>
<div class="facebook_like">
	<iframe src="http://www.facebook.com/plugins/like.php?href=www.researchnation.net&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
</div>

<div class="content">

</div>
<!--
	<div class="box1">
	<h4>HOW CAN I USE IT?</h4>
	<ul class="category">
		<li>
			<a href="/main/buyers">
				<img src="/images/plant.png" />
				<b>Buy Intelligence</b>
				<p>All research is user-generated, original and to the point. Some of it is free, the rest is under US$1,000</p>
			</a>
		</li>
		<li>
			<a href="/main/entrepreneurs">
				<img src="/images/img3.png" />
				<b>Sell Intelligence</b>
				<p>Share your insights with the world - make money and build a reputation for functional expertise</p>
			</a>
		</li>
		<li>
			<a href="/main/entrepreneurs">
				<img src="/images/img4.png" />
				<b>Add Reviews & Find People</b>
				<p>Add and read reviews, and connect with industry professionals through the profiles section</p>
			</a>
		</li>
	</ul>
</div>
<div class="box2">
	<h4>WHAT CAN I SELL?</h4>
	<ul class="category">
		<li>
			<a href="/main/features">
				<img src="/images/img5.png" />
				<b>Crispy, Original Insights</b>
				<p>It can be anything from an industry, sector or company report to poll results and call transcripts</p>
			</a>
		</li>
		<li>
			<a href="/main/features">
				<img src="/images/bulb.png" />
				<b>Data & Analytics</b>
				<p>You can buy and sell original datasets with Koala-assured quality and authenticity</p>
			</a>
		</li>
		<li>
			<a href="/main/features">
				<img src="/images/img1.png" />
				<b>Custom Services </b>
				<p>By creating a profile, you can make yourself or your company available to provide custom services</p>
			</a>
		</li>
	</ul>
</div>
<div class="box3">
	<h4>SPREAD THE LOVE</h4>
	<div class="email_box" style="margin-top:30px; float:left; width:100%;">
		<b>Join the movement</b>
		<form name="subscribe" id="subscribe" method="post" action="/users/subscribe" >
			<input type="text" name="email" value="Enter Your Email Address" size="35" class="email_address" />
		</form>
		<b>Koala Video of the Day</b>
		<div class="video">
			<iframe title="YouTube video player" width="245" height="200" src="http://www.youtube.com/embed/8KW3E9uikgI" 		frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<h1><p>Market Research will never be the same again. <%= (link_to "Join the movement!", :controller => "users", :action => "register") unless logged_in? %>
		<%= (link_to "Join the movement!", :controller => "resources", :action => "new") if logged_in? && @user.user_type == "Seller" %>
		<%= (link_to "Join the movement!", :controller => "resources", :action => "view_posts") if logged_in? && @user.user_type == "Buyer" %>
</p>
</h1>
-->
<script type="text/javascript" language="javascript" charset="utf-8">
	$("#new_user").submit(function(){
		return validate_form();
	});
</script>
