<% content_for :html_title, 'Find, Buy and Sell Market Research' %>
<div class="banner">
  <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
	<div class="banner_text">
			<div class="icons_main_page icon_box">
				<span><img src="images/report.png" /><p>Reports</p></span>
				<span><img src="images/chart.png" /><p>Charts</p></span>
				<span><img src="images/graphs.png" /><p>Graphs</p></span>
				<span><img src="images/chapter.png" /><p>Chapters</p></span>
				<span><img src="images/model.png" /><p>Models</p></span>
				<span><img src="images/survey.png" /><p>Surveys</p></span>
				<span><img src="images/interview.png" /><p>Interviews</p></span>
				<span><img src="images/others.png" /><p>Others</p></span>
			</div>
		<div class="content_back main_page_content_container">
			<h2>Find, buy and sell market research.</h2>
		    <div style="margin-top:15px;" class="altering_text"> 
		    	<span>We are currently in private beta. Sign up by July 15 to be included in our marketplace.</span><br>
		    </div>
		    <% unless logged_in? %>
				<%= render :partial => 'users/errors' %>
				<% form_for(@user , :url => {:controller => "users", :action => "create" } ) do |f| %>
				<div class="new_field">
					<label style="padding:0px;" for="email">Your Email</label>
					<%= f.text_field 'email', :id => "email", :class => 'required email', :title => "Your Email"%>
				</div>
				<div class="new_field">
					<label style="padding:0px;" for="password">Your Password</label>
					<%= f.password_field 'password', :id => "password", :class => 'required password min_len', :min_length => "6" %>
				</div>
				<div class="new_field1 new_field ">
		    <div class="field_container">
		    <label></label>
		      <%= render :partial => "/layouts/select_user_type", :locals => {:f => f} %>
		    </div>
				</div>
				<div class="banner_sign_up_button" style="margin-left:0px !important;"><%= (f.submit "Sign up as a Seller", :class => "green_button")%></div>
				<div class="main_terms_and_conditions">
					<p>By signing up you agree to our </p><%= link_to "Terms of Service ", :controller => "main", :action => "privacy" %><p> and</p> <%= link_to "Privacy Policy", :controller => "main", :action => "privacy" %></div>
				<% end %>
			<% end %>
			<%= link_to ( "Start Selling Now! There's No Listing Fee.", { :controller => "resources", :action => "upload_docs"}, { :class => 'green_button'} ) if logged_in? %>
		</div>
	</div>
	<%= hidden_field_tag 'create_post', :value => false%>
</div>
<div class="facebook_like">
	<iframe src="http://www.facebook.com/plugins/like.php?href=www.researchnation.net&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
</div>

<div class="content">

</div>
