<div class="wrapper">
  <div class="left_contant">
<!--
    <div class="selling_buying_box">

	    <span>View:</span> <%= link_to_remote 'Buying' ,:url => {:controller => 'main', :action => 'buying_list'}, :update => 'results' %> | <%= link_to_remote 'Selling' ,:url => {:controller => 'main', :action => 'selling_list'}, :update => 'results' %>
    </div>
  -->
    <div id="results"></div>
  </div>

<div class="right_contant">
<%= form_tag  ( { :controller => 'main', :action => 'post' } , { :class => 'created_id' ,  :multipart => true, :onsubmit => 'return validate();' } )%>
  <div class="field" id="user_name" >
    <label>Name:</label>
    <%= text_field 'user', 'name', :value => ("#{@user.first_name} #{@user.last_name}" unless @user.blank?) , :id => 'name' %>
    <i></i>
    </div>
    <div class="field" id="user_email">
      <label>Email:</label>
      <%= text_field 'user', 'email', :id => 'email' %>
    </div>
    <div class="field" id="post_title" >
      <label>Title:</label>
      <%= text_area 'post', 'title', :maxlength => 140, :id => 'title' %>
    </div>
    <div class="field" id="post_details" >
      <label>Details:</label>
      <%= text_area 'post', 'description', :maxlength => 700, :id => 'details' %>
    </div>
<!--
    <div class="field">
      <label>Do:</label>
      <select name="do" id="option">
        <option>Select One</option>
        <option >Buy</option>
        <option >Sell</option>
      </select>
    </div>
    -->
    <div id="sell_fields">
      <div class="field" id="post_price">
        <label>Price:</label>
        <%= text_field 'post', 'selling_price', :id => 'price' %>
        <i>Negotiate directly with the buyer using Skype</i>
      </div>
<!--
      <div class="atach_field" id="attachments">
        <label>Attach:</label>
        <%#= file_field 'attachments', 'sample' %>
        <%#= file_field 'attachments', 'actual' %>
      </div>
-->
    </div>
    <div class="field">
      <label>Skype:</label>
      <%= text_field 'user', 'skype_name' %>
      <i>Only users you add on Skype can call you </i>
    </div>
    <%= submit_tag 'Submit', :class => 'submit' %>
    <div class="subscribe_box">
      <span>subscribe to newsletter</span>
      <a href="#" class="facebook">
        <img src="/images/facebook.jpg" />
      </a>
      <a href="#" class="twitter">
        <img src="/images/twitter.jpg" />
      </a>
    </div>
  </form>
</div>
