<% content_for :html_title, 'Inbox' %>
<div class="content">
<div class="how_it_work_left_side">
  <div id="message"></div>
  <%= link_to "< Back to Inbox", { :controller => "users", :action => "profile" }, { :class => "back_button" }%>
  <div class="seller_back">
    <div class="create_heading_box message_heading_box">
      <h1 style="margin-top:2px !important; margin-bottom:4px !important; font-size:22px !important;">Conversation with <%= @message.sender.profile.name %></h1>
    </div>
	  <div class="receipient">
      <div class="sender_image">
        <%= image_tag "avatar_30.png" if @message.recipient.profile.photo_file_name.blank? %>
        <%= image_tag @message.recipient.profile.photo.url(:small) unless @message.recipient.profile.photo_file_name.blank? %>
        <b><%= truncate(@message.recipient.profile.name, :omission => "...", :length => 10) %></b>
      </div>
      <div>
        <p><%= @message.body %></p>
      </div>
      <div class="sender">
        <div class="sender_image">
          <%= image_tag @message.recipient.profile.photo.url(:small) unless @message.recipient.profile.photo_file_name.blank? %>
          <%= image_tag "avatar_30.png" if @message.sender.profile.photo_file_name.blank? %>
           <b><%= truncate ( @message.sender.profile.name, :omission => "...", :length => 10) %></b>
         </div>
	      <div class="register_form">
          <%= javascript_include_tag :defaults %>
          <% form_tag (:controller => 'main', :action => 'send_message', :user_id => @message.sender.id, :referer => 'view_page' ) do%>
          <div class="field">
            <%= hidden_field_tag "subject", "Reply: #{@message.subject}" ,:id => "message", :class => " send_message" %>
            <%= text_area_tag "message", "" ,:id => "message", :class => "send_message" %>
          </div>
        </div>
        <div class="send_message_button">
          <%= submit_tag 'Post Response', :id => 'submit', :class => "green_button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
