<div class="seller_back">
  <div class="sign_up_box">
    <h4 class="heading_color" style="margin-top:0px; border-top:0px;">About Us</h4>
    <div class="field1">
      <p class="about_field_text"><%= simple_format @profile.description %></p>
    </div>
    <h4 class="heading_color">Key Individual</h4>
    <div class="field1">
      <label>Name</label>
      <span class="field_text"><%= @profile.key_individual.name %></span>
    </div>
    <div class="field1">
      <label>Title</label>
      <span class="field_text"><%= @profile.key_individual.title %></span>
    </div>
    <% unless @profile.key_individual.linkedin.blank? %>
      <div class="field1">
        <label>LinkedIn</label>
        <%= (link_to "#{@profile.key_individual.linkedin }", @profile.key_individual.linkedin, :target => "_blank", :class => 'web_link') %>
      </div>
    <% end %>
    <% unless @profile.humor_me.blank? %>
      <h4 class="heading_color">Work History (Clients, Projects)</h4>
      <div class="field1">
        <p class="about_field_text"><%= @profile.humor_me.gsub("\n", "<br />") %></p>
      </div>
    <% end %>
    <% unless @profile.user.valid_resources.blank? %>
      <h4 class="heading_color">Posts Created</h4>
      <% @profile.user.valid_resources.each do |post| %>
          <div class="field1 user_links">
            <%= link_to (  post.title, { :controller => 'resources', :action => 'seller_page', :url_slug => post.url_slug },  { :class => "web_link" }) %>
          </div>>
      <% end %>
    <% end %>
    <% unless @profile.interested_in.blank? %>
      <h4 class="heading_color">Interested In</h4>
      <% @interests.each do |i|%>
        <div class="field field1">
          <input type="checkbox" name="interests" checked="checked" disabled="disabled" />
          <label class="check_box_text"><%= i %></label>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
