<h4 class="heading_color" style="margin-bottom:0px;">Interested In</h4>
<div class="interests">
  <div class="interests_tip">
    <i>Please indicate your availability for new projects by checking of the boxes below. You can check as many boxes as you want.</i>
  </div>
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="FT projects" name="interested_in" <%= "checked='checked'" if !fields.blank? && fields.split(",").include?("FT projects")  %> />
    <label>FT projects</label>
  </div>
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="PT projects" name="interested_in" <%= "checked='checked'" if !fields.blank? &&  fields.split(",").include?("PT projects") %> />
    <label>PT projects</label>
  </div>
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="Immediate start" name="interested_in" <%= "checked='checked'" if !fields.blank? && fields.split(",").include?("Immediate start") %> />
    <label>Immediate start</label>
  </div>
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="Local only" name="interested_in" <%= "checked='checked'" if !fields.blank? && fields.split(",").include?("Local only") %> />
    <label>Local only</label>
  </div>
  <div class="field" style="margin-bottom:0px;">
    <input type="checkbox" value="30 mins phone consultation" name="interested_in" <%= "checked='checked'" if !fields.blank? && fields.split(",").include?("30 mins phone consultation") %> />
    <label style="width:300px;">30 mins phone consultation</label>
  </div>
</div>
