<% @profiles.each do |profile| %>
	<div class="post">
		<% link_to (:action => 'profile_page', :url_slug => profile.url_slug) do %>
			<div class="post_title">
        <% unless profile.photo_file_name.blank? %>
				  <%= (image_tag profile.photo.url(:browse)) %>
				<% else %>
				  <%= (image_tag "avatar.png")%>
				<% end %>
				<div class="user_name">
					<span clas><%= profile.name %></span>
					<p> <%= profile.country %> </p>
				</div>
				<!--
				<div class="tags_box">
					<span> <%= profile.industry_focus %> </span>
				</div>
				-->
			</div>
			<!--
			<div class="description">
				<p><%= truncate(profile.description , :omission => "...(more)", :length => 62) %></p>
			</div>
			-->
		<% end %>
	</div>
<% end %>
