<% unless @user.received_messages.blank? %>
<div class="earnings_title post_bordder_less">
  <div class="received_message" id=" posts_table">
	<ul id="received_messages">
	  <li class="messages_from">From</li>
	  <li class="messages_date">Date</li>
	  <li class="messages_subject">Subject</li>
	  <li class="messages_deleted"></li>
    </ul>
  </div>
</div>
<div class="profile_fixed_box" style="max-height:343px;">
  <div id=" posts_table" class="received_message">
  	<% @user.received_messages.each do |msg|%>
	  <ul id="received_messages">
	      <li class="messages_from"><%= (msg.sender.profile.blank? || msg.sender.profile.photo_file_name.blank?) ? (image_tag "avatar_30.png") : (image_tag msg.sender.profile.photo.url(:small)) %></li>
	      <li class="messages_date position"><span class="fixed">  <%= ((Time.diff Time.now, msg.created_at.to_time)[:day] == 0)? "Today" : "#{(Time.diff Time.now, msg.created_at.to_time)[:day]} days ago"  %></span></li>
          <li class="messages_subject position"><%= link_to (truncate(msg.subject, :omission => "...", :length => 41), { :controller => 'messages', :action => 'view', :id => msg.id } , { :class => ( msg.read? ? 'fixed' : 'fixed bold')} ) %></li>
          <li class="messages_deleted user_profile_buttons"><%= link_to image_tag("delete.jpg"), { :controller => 'messages', :action => 'delete', :id => msg.id }, :confirm => "Are you sure you want to delete this message?"  %></li>
	  </ul>
	 <% end %>
  </div>
</div>
<% else %>
	<i class="italicized_text">Get started now by clicking <%= link_to "here", :controller => 'resources', :action => 'upload_docs' %>.</i>
<% end %>

