<% @user.sent_messages.each do |msg|%>
	<tr>
	  <td><%= msg.sender.profile.photo_file_name.blank? ? (image_tag "avatar_30.png") : (image_tag msg.sender.profile.photo.url(:small)) %></td>
	  <td ><span ><%= msg.sender.profile.name %></span>
         <span>  <%= ((Time.diff Time.now, msg.created_at.to_time)[:day] == 0)? "Today" : "#{(Time.diff Time.now, msg.created_at.to_time)[:day]} ago"  %></span>
	  </td>
	  <td><%= link_to msg.subject, :controller => 'messages', :action => 'view', :id => msg.id  %></td>
	  <td class="user_profile_buttons"><%= link_to 'Delete', { :controller => 'messages', :action => 'delete', :id => msg.id }, :confirm => "Are you sure you want to delete this post?", :class => "green_button"  %></td>
	</tr>
<% end %>
