  <div class="register_form">
    <h2>Individual Details* </h2>
    <div class="field">
      <label>Title</label>
      <span class="field_text"><%= @profile.key_individual.title %></span>
    </div>
    <div class="field">
      <label>Company</label>
      <span class="field_text"><%= @profile.key_individual.name %></span>
    </div>
    <div class="field">
      <label>Address</label>
      <span class="field_text"><%= @profile.address %></span>
    </div>
    <div class="field">
      <label>Country</label>
      <span class="field_text"><%= @profile.country %></span>
    </div>
    <div class="field">
      <label>Telephone</label>
      <span class="field_text"><%= @profile.phone_number %></span>
    </div>
    <div class="field">
      <label>Website</label>
      <div class="field_text"><%= (link_to "#{@profile.website }", @profile.website, :target => "_blank", :class => 'web_link') %></div>
    </div>
    <div class="field">
      <label>Skype ID</label>
      <span class="field_text"><%= @profile.key_individual.skype_id %></span>
    </div>
    <div class="field">
      <label>Linkedin</label>
      <div class="field_text"><%= (link_to "#{@profile.key_individual.linkedin }", @profile.key_individual.linkedin, :target => "_blank", :class => 'web_link') %>
      </div>
    </div>
    <div class="field">
      <label>About Me</label>
      <span class="field_text"><%= @profile.description %></span>
    </div>
  </div>
  <% unless @profile.humor_me.blank? %>
  <div class="register_form">
    <h2>Humor Me</h2>
      <div class="field">
        <span class="field_text"><%= @profile.humor_me %></span>
      </div>
  </div>
  <% end %>
  <% unless @profile.interested_in.blank? %>
    <div class="register_form interests">
      <h2>Interested In</h2>
      <div class="field">
      <% @interests.each do |i|%>
        <input type="checkbox" name="interests" checked="checked" disabled="disabled" />
        <label><%= i %></label>
      <% end %>
    </div>
  <% end %>
  </div>
