<% content_for :html_title, 'Company Profile' %>
<div class="content">
  <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
  <div class="how_it_work_left_side">
    <div class="purchase_error">
      <% @profile.errors.each do |err| %>
        <p><%= err.join(" ") %><p>
      <% end %>
    </div>
    <div class="seller_back">
      <div class="create_heading_box">
        <h1 style="margin-top:5px !important; margin-bottom:5px !important;">Company Profile.</h1>
        <b>You must possess expertise in the market research industry to fill out a profile. All profiles are publicly viewable (in our directory) and indexed on Google.
        </b>
      </div>
      <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
        <h4 class="heading_color" style="margin-top:5px; border-top:0px;">Company Details</h4>
        <% form_for(@profile , :url => {:controller => "profiles", :action => "update" }, :html => { :multipart => true } ) do |f| %>
          <div class="field">
            <label>Name*</label>
            <%= f.text_field 'name', :class => 'required max_len', :max_length => 30 %>
          </div>
          <div class="field">
            <label>City*</label>
            <%= text_field 'profile', 'city', :class => 'required', :max_length => 50 %>
          </div>
          <div class="field">
            <label>Country*</label>
            <%= country_select("profile", "country", ["United Kingdom", "United States"], { :include_blank => true } , {:class => 'required select_list'}) %>
          </div>
          <div class="field">
            <label>Website</label>
            <%= f.text_field 'website', :class => 'text_width' %>
          </div>
          <div class="field">
            <label>Products & Services*</label>
            <%= f.text_area 'description', :class => 'required max_len tip', :max_length => 2500, :title => "Please use this section to highlight your capabilities and to 'sell' yourself. Try to personalize it and be genuine, don't just provide a checklist of services you can provide." %>
          </div>
          <div class="field">
            <label>Logo</label>
            <%= f.file_field 'photo', :id => "user_image", :size => "23"%>
          </div>
          <div class="field">
            <label>Competitors</label>
            <%= f.text_field 'competitors', :class => 'text_width max_len tip', :max_length => 500, :title => "Please provide names of your two or three top competitors. We ask for this information so that we can keep you up to date on your competitors activities on Research Nation (for example, we can notify you any time your competitor adds a new document to sell)." %>
          </div>
          <div class="field">
            <label>Company Size*</label>
            <%= ( f.select "company_type", @company_type, { :include_blank => true }, {:class => 'required select_list' }) %>
          </div>
          <div class="field">
            <label>Company Type*</label>
            <%= ( f.select "services", @services, { :include_blank => true }, {:class => 'required select_list' }) %>
          </div>
          <h4 class="heading_color">Key Individual</h4>
          <div class="field">
            <label>Name*</label>
            <%= text_field 'key_individual', 'name', :class => 'required' %>
          </div>
          <div class="field">
            <label>Title</label>
            <%= text_field 'key_individual', 'title', :class => 'text_width' %>
          </div>
          <div class="field">
            <label>LinkedIn</label>
            <%= text_field 'key_individual', 'linkedin', :class => 'text_width tip', :title => "Not sure what your LinkedIn website is? If you logon to LinkedIn and go to your profile page, it should be listed in the first paragraph." %>
          </div>
          <h4 class="heading_color">Work History (Clients, Projects)</h4>
          <div class="field">
            <label>Optional</label>
            <%= f.text_area 'humor_me', :class => 'max_len tip', :max_length => 2500, :title => "Please provide details on your work history, and try to structure your answer to address one or all of the following: (1) past/current clients (names not necessary); (2) geographical expertise; (3) industry focus; (4) product focus" %>
          </div>
          <%= f.hidden_field 'profile_type', :value => params[:profile_type] %>
          <%= f.hidden_field 'interested_in', :id => 'interested_in' %>
          <%= render :partial => "/profiles/interested_in_fields", :locals => {:fields => @profile.interested_in}%>
          </div>
          <div class="hidden">
            <%= hidden_field_tag 'user_id', params[:user_id]  if session[:admin] && !params[:user_id].blank?%>
          </div>

          <div class="submit_button">
            <%= f.submit 'Submit', :class => "green_button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
