<div class="content">
  <div class="how_it_work_left_side">
       <div class="seller_back">
       <span class="sign_up" id="tab2">Edit Profile</span>
        <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
          <h4 style="margin-top:5px;">Company Details</h4>
      <% form_for(@profile , :url => {:controller => "profiles", :action => "update", :id => @profile.id }, :html => { :multipart => true } ) do |f| %>
            <div class="field">
              <label>Name*</label>
              <%= f.text_field 'name', :class => 'required max_len', :max_length => 70 %>
            </div>
            <div class="field">
              <label>City*</label>
              <%= text_field 'profile', 'city', :class => 'required', :max_length => 400 %>
            </div>
            <div class="field">
              <label>Country*</label>
              <%= country_select("profile", "country", ["United Kingdom", "United States"], { :include_blank => true } , {:class => 'required select_list'}) %>
            </div>
            <div class="field">
              <label>Website</label>
              <%= f.text_field 'website' %>
            </div>
            <div class="field">
              <label>Description*</label>
              <%= f.text_area 'description', :class => 'required max_len', :max_length => 2500 %>
            </div>
            <div class="field">
              <label>Logo</label>
              <%= f.file_field 'photo', :id => "user_image", :size => "23"%>
            </div>
            <div class="field">
              <label>Competitors</label>
              <%= f.text_field 'competitors', :class => 'max_len', :max_length => 500 %>
            </div>
            <div class="field">
              <label>Research Type*</label>
              <%= ( f.select "research_type", @research_type, { :include_blank => true }, {:class => 'required select_list' }) %>
            </div>
            <div class="field">
              <label>Industry Focus*</label>
              <%= ( f.select "industry_focus", @industry_focus, { :include_blank => true }, {:class => 'required select_list' }) %>
            </div>
           <h4>Key Individual</h4>
            <div class="field">
              <label>Name*</label>
              <%= text_field 'key_individual', 'name', :class => 'required' %>
            </div>
            <div class="field">
              <label>Title*</label>
              <%= text_field 'key_individual', 'title', :class => 'required' %>
            </div>
            <div class="field">
              <label>LinkedIn</label>
              <%= text_field 'key_individual', 'linkedin' %>
             </div>
        <h4>Setting Expectations</h4>
          <div class="field">
            <label>Optional</label>
            <%= f.text_area 'humor_me', :class => 'max_len', :max_length => 2500 %>
          </div>
          <%= f.hidden_field 'profile_type', :value => params[:profile_type] %>
          <%= f.hidden_field 'interested_in', :id => 'interested_in' %>
          <%= render :partial => "/profiles/interested_in_fields"%>
          </div>
          <div class="sign_up_button">
              <%= f.submit 'Submit', :class => "green_button" %>
            </div>
      <% end %>
        </div>
      </div>
    </div>
