<% content_for :html_title, 'Edit Profile' %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box">
        <h1 style="margin-top:5px !important; margin-bottom:5px !important;">Edit Your Profile.</h1>
        <b>Get added to our database of service providers, it takes only 3 minutes! If you've already created your profile, you can edit it using this form too.
        </b>
      </div>
      <div style="min-height: 275px;" class="sign_up_box" id="tabOne">
        <h4 class="heading_color" style="margin-top:5px; border-top:0px;">Company Details</h4>
        <% form_for(@profile , :url => {:controller => "profiles", :action => "update" }, :html => { :multipart => true } ) do |f| %>
          <div class="field">
            <label>Name*</label>
            <%= f.text_field 'name', :class => 'required max_len', :max_length => 30 %>
          </div>
          <div class="field">
            <label>City*</label>
            <%= text_field 'profile', 'city', :class => 'required', :max_length => 50 %>
          </div>
          <div class="field">
            <label>Country*</label>
            <%= country_select("profile", "country", ["United Kingdom", "United States"], { :include_blank => true } , {:class => 'required select_list'}) %>
          </div>
          <div class="field">
            <label>Website</label>
            <%= f.text_field 'website', :class => 'text_width' %>
          </div>
          <div class="field">
            <label>Description*</label>
            <%= f.text_area 'description', :class => 'required max_len tip', :max_length => 2500, :title => "Take a minute to think about this before you start typing. Do:  (1) provide a summary of your experience (10 years of management consulting with McKinsey and BCG), and (2) highlight any industry or functional expertise (worked in 5 countries in Africa, and am an expert on biotech industry). If you are creating a post, then customize your 'About Me' for this (e.g. I created a post on key contacts in the location space in London, and I know this because I'm currently doing a PhD in location at Cambridge, and working on an internet starutp in the location space)." %>
          </div>
          <div class="field">
            <label>Logo*</label>
            <%= f.file_field 'photo', :id => "user_image", :size => "23"%>
          </div>
          <div class="field">
            <label>Competitors</label>
            <%= f.text_field 'competitors', :class => 'text_width max_len tip', :max_length => 500, :title => "Please provide names of your two or three top competitors. We ask for this information so that we can keep you up to date on your competitors activities on Research Nation (for example, we can notify you any time your competitor adds a new document to sell)." %>
          </div>
          <div class="field">
            <label>Company Type*</label>
            <%= ( f.select "company_type", @company_type, { :include_blank => true }, {:class => 'required select_list' }) %>
          </div>
          <div class="field">
            <label>Services*</label>
            <%= ( f.select "services", @services, { :include_blank => true }, {:class => 'required select_list' }) %>
          </div>
          <h4 class="heading_color">Key Individual</h4>
          <div class="field">
            <label>Name*</label>
            <%= text_field 'key_individual', 'name', :class => 'required' %>
          </div>
          <div class="field">
            <label>Title</label>
            <%= text_field 'key_individual', 'title', :class => 'text_width' %>
          </div>
          <div class="field">
            <label>LinkedIn</label>
            <%= text_field 'key_individual', 'linkedin', :class => 'text_width tip', :title => "Not sure what your LinkedIn website is? If you logon to LinkedIn and go to your profile page, it should be listed in the first paragraph." %>
          </div>
          <h4 class="heading_color">Setting Expectations</h4>
          <div class="field">
            <label>Optional</label>
            <%= f.text_area 'humor_me', :class => 'max_len tip', :max_length => 2500, :title => "Please describe how a typical client engagement would proceed. We ask for this information to help give your prospective clients a feel for what it's like to work with you and your team. Please try to structure your answer as best you can, and feel free to use examples from prior client engagements to communicate your message." %>
          </div>
          <%= f.hidden_field 'profile_type', :value => params[:profile_type] %>
          <%= f.hidden_field 'interested_in', :id => 'interested_in' %>
          <%= render :partial => "/profiles/interested_in_fields", :locals => {:fields => @profile.interested_in}%>
          </div>
          <div class="hidden">
            <%= hidden_field_tag 'user_id', params[:user_id]  if session[:admin] && !params[:user_id].blank?%>
          </div>

          <div class="submit_button">
            <%= f.submit 'Submit', :class => "green_button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
