<div class="content">
  <div class="how_it_work_left_side">
       <div class="seller_back">
          <span class="sign_up" id="tab2">Edit Your Profile</span>
          <div class="sign_up_box" id="tabOne">
            <h4 style="margin-top:5px;">My Details</h4>
          <% form_for(@profile , :url => {:controller => "profiles", :action => "update", :id => @profile.id }, :html => { :multipart => true } ) do |f| %>
            <div class="field">
              <label>Name</label>
              <%= f.text_field 'name', :class => 'required max_len', :max_length => 70 %>
            </div>
            <div class="field">
              <label>Title</label>
              <%= text_field 'key_individual', 'title', :class => 'required' %>
            </div>
            <div class="field">
              <label>Company</label>
              <%= text_field 'key_individual', 'name', :class => 'required' %>
            </div>
            <div class="field">
              <label>City</label>
              <%= text_field 'profile', 'city', :class => 'required', :max_length => 400 %>
            </div>
            <div class="field">
              <label>Country</label>
              <%= country_select("profile", "country", ["United Kingdom", "United States"], { :include_blank => true } , {:class => 'required'}) %>
            </div>
            <div class="field">
              <label>Telephone</label>
              <%= f.text_field 'phone_number', :class => 'required' %>
            </div>
            <div class="field">
              <label>Website</label>
              <%= f.text_field 'website', :class => 'required' %>
            </div>
            <div class="field">
              <label>Skype ID</label>
              <%= text_field 'key_individual', 'skype_id' , :class => 'required' %>
              <i>
                <%= check_box 'key_individual', 'skype_availability'  %>
                <span>Available to Skype chat any time</span>
              </i>
            </div>
            <div class="field">
              <label>Linkedin</label>
              <%= text_field 'key_individual', 'linkedin' %>
           </div>
            <div class="field">
              <label>About Me</label>
              <%= f.text_area 'description', :class => 'required max_len', :max_length => 1000 %>
            </div>
            <div class="field">
              <label>Picture</label>
              <%= f.file_field 'photo', :id => "user_image", :size => "23"%>
            </div>
            <div class="field">
              <label>Industry Focus</label>
              <%= ( f.select "industry_focus", @industry_focus, { :include_blank => true }, {:class => 'required' }) %>
            </div>
            <h4>Humor Me</h4>
            <div class="field">
              <label>Optional</label>
              <%= f.text_area 'humor_me', :class => 'max_len', :max_length => 1000 %>
            </div>

        <%= f.hidden_field 'interested_in', :id => 'interested_in' %>
        <%= f.hidden_field 'profile_type', :value => params[:profile_type] %>
            <h4 style="margin-bottom:0px;">Interested In</h4>
            <div class="field" style="margin-bottom:0px;">
              <input type="checkbox" value="FT projects" name="checkbox" checked="checked" />
              <label>FT projects</label>
            </div>
            <div class="field" style="margin-bottom:0px;">
              <input type="checkbox" value="PT projects" name="checkbox" checked="checked" />
              <label>PT projects</label>
            </div>
            <div class="field" style="margin-bottom:0px;">
              <input type="checkbox" value="Immediate start" name="checkbox" checked="checked" />
              <label>Immediate start</label>
            </div>
            <div class="field" style="margin-bottom:0px;">
              <input type="checkbox" value="Local only" name="checkbox" checked="checked" />
              <label>Local only</label>
            </div>
            <div class="field" style="margin-bottom:0px;">
              <input type="checkbox" value="30 mins free phone consultation" name="checkbox" checked="checked" />
              <label style="width:300px;">30 mins free phone consultation</label>
            </div>
          </div>
          <div class="sign_up_button">
              <%= f.submit 'Submit' %>
            </div>
          <% end %>
        </div>
    </div>
</div>
