<% content_for :html_title, 'Edit Profile' %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="purchase_error">
      <% @profile.errors.each do |err| %>
        <p><%= err.join(" ") %><p>
      <% end %>
    </div>
    <div class="seller_back">
      <div class="create_heading_box">
        <h1 style="margin-top:5px !important; margin-bottom:5px !important;">Edit Your Profile.</h1>
        <b>Get added to our database of experts, it takes only 3 minutes! If you've already created your profile, you can edit it using this form too.</b>
      </div>
      <div class="sign_up_box" id="tabOne">
        <h4 class="heading_color" style="margin-top:5px; border-top:0px;">My Details</h4>
      <% form_for(@profile , :url => {:controller => "profiles", :action => "update"}, :html => { :multipart => true } ) do |f| %>
        <div class="field">
          <label>My Name*</label>
          <%= f.text_field 'name', :class => 'required max_len', :max_length => 30%>
        </div>
        <div class="field">
          <label>My Title</label>
          <%= text_field 'key_individual', 'title', :class => 'text_width max_len', :max_length => 20 %>
        </div>
        <div class="field">
          <label>My Company</label>
          <%= text_field 'key_individual', 'name', :class => 'text_width' %>
        </div>
        <div class="field">
          <label>City*</label>
          <%= text_field 'profile', 'city', :class => 'required', :max_length => 400 %>
        </div>
        <div class="field">
          <label>Country*</label>
          <%= country_select("profile", "country", ["United Kingdom", "United States"], { :include_blank => true } , {:class => 'required select_list'}) %>
        </div>
        <div class="field">
          <label>Website</label>
          <%= f.text_field 'website', :class => 'text_width' %>
        </div>
        <div class="field">
          <label>LinkedIn</label>
          <%= text_field 'key_individual', 'linkedin', :class => 'text_width tip', :title => "Your LinkedIn profile is a great way to showcase your professional accomplishments - please do share it with us! Not sure what your LinkedIn website is? If you logon to LinkedIn and go to your profile page, it should be listed in the first paragraph." %>
       </div>
        <div class="field">
          <label>About Me*</label>
          <%= f.text_area 'description', :class => 'required max_len tip', :max_length => 2500, :title => "Take a minute to think about this before you start typing. Do:  (1) provide a summary of your experience (10 years of management consulting with McKinsey and BCG), and (2) highlight any industry or functional expertise (worked in 5 countries in Africa, and am an expert on biotech industry). If you are creating a post, then customize your 'About Me' for this (e.g. I created a post on key contacts in the location space in London, and I know this because I'm currently doing a PhD in location at Cambridge, and working on an internet starutp in the location space)." %>
        </div>
        <div class="field">
          <label>Picture*</label>
          <%= f.file_field 'photo', :id => "user_image", :size => "23" %>
          <i> Picture size should be less than 5 MB. </i>
        </div>
        <h4 class="heading_color">My Work Style</h4>
        <div class="field">
          <label>Optional</label>
          <%= f.text_area 'humor_me', :class => 'max_len tip', :max_length => 2500, :title => "Fill this out if you're interested in work. What is your leadership style? What kinds of team settings do you do well in? Do you prefer in person meetings or on the phone? Are you very detail oriented? Please feel free to back up any statements you make with examples (e.g. if you say that you prefer small teams and communicate very well, then provide an example of a setting in which you succeeded)" %>
        </div>
        <%= f.hidden_field 'profile_type', :value => params[:profile_type] %>
        <%= f.hidden_field 'interested_in', :id => 'interested_in' %>
        <%= render :partial => "/profiles/interested_in_fields", :locals => {:fields => @profile.interested_in}%>
      </div>
      <div class="hidden">
        <%= hidden_field_tag 'user_id', params[:user_id]  if session[:admin] && !params[:user_id].blank?%>
      </div>
      <div class="submit_button">
          <%= f.submit 'Submit', :class => "green_button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
