<div class="content">
  <div class="content_back">
    <div class="seller_left">
       <div class="seller_back">
        <div class="register_form">
          <h2>1. My Details* </h2>
          <% form_for(@profile , :url => {:controller => "profiles", :action => "create" } ) do |f| %>
            <div class="field">
              <label>Name</label>
              <%= f.text_field 'name', :class => 'required max_len', :max_length => 70 %>
            </div>
            <div class="field">
              <label>Title</label>
              <%= text_field 'key_individual', 'title', :class => 'required' %>
            </div>
            <div class="field">
              <label>Company</label>
              <%= text_field 'key_individual', 'name', :class => 'required' %>
            </div>
            <div class="field">
              <label>Address</label>
              <%= f.text_area 'address', :style => "width:200px; height:60px;", :class => 'required max_len', :max_length => 400 %>
            </div>
            <div class="field">
              <label>Country</label>
              <%= ( f.select "country", @countries,  { :include_blank => true } , {:class => 'required'}) %>
            </div>
            <div class="field">
              <label>Telephone</label>
              <%= f.text_field 'phone_number', :class => 'required' %>
            </div>
            <div class="field">
              <label>Website</label>
              <%= f.text_field 'website', :class => 'required' %>
            </div>
            <div class="field">
              <label>Skype ID</label>
              <%= text_field 'key_individual', 'skype_id' , :class => 'required' %>
              <i>
                <input type="checkbox" value="" name="checkbox" checked="checked" id="skype" />
                <span>Available to Skype chat any time</span>
              </i>
            </div>
            <div class="field">
              <label>Linkedin</label>
              <%= text_field 'key_individual', 'linkedin', :class => 'required' %>
           </div>
            <div class="field">
              <label>About Me</label>
              <%= f.text_area 'description', :class => 'required max_len', :max_length => 1000 %>
            </div>
            <div class="field">
              <label>Expertise Tags</label>
              <%= ( f.select "expertise", @expertise,  { :include_blank => true } , {:class => 'required'}) %>
            </div>
            <%= f.hidden_field 'interested_in', :id => 'interested_in' %>
            <%= f.hidden_field 'profile_type', :value => params[:profile_type] %>
            <%= hidden_field 'key_individual', 'skype_availability', :value => "" %>
            <div class="register_form">
              <h2>2. Humor Me</h2>
                <div class="field">
                  <label>Optional</label>
                  <%= f.text_area 'humor_me', :class => 'max_len', :max_length => 1000 %>
                </div>
            </div>
            <div class="register_form interests">
              <h2>3. Interested In</h2>
              <div class="field">
                <input type="checkbox" value="FT projects" name="checkbox" checked="checked" />
                <label>FT projects</label>
                <input type="checkbox" value="PT projects" name="checkbox" checked="checked" />
                <label>PT projects</label>
                <input type="checkbox" value="Immediate start" name="checkbox" checked="checked" />
                <label>Immediate start</label>
              </div>
              <div class="field">
                <input type="checkbox" value="Local only" name="checkbox" checked="checked" />
                <label>Local only</label>
                <input type="checkbox" value="30 mins free phone consultation" name="checkbox" checked="checked" />
                <label style="width:200px;">30 mins free phone consultation</label>
              </div>
            </div>
              <div class="sign_up_button">
                <%= f.submit 'Submit' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="seller_right">
        <div class="koala_review koala_review4">
          <div class="guidelines">
            <h2>Koala Tips</h2>
            <h3>Get featured</h3>
          <p>Build a reputation on our site and establish your credibility by publishing/selling through the 'Create Post' 
            <h3>Show your lighter side!</h3>
          <p>Profiles that show their humorous side (see 'humor section) are more likely to be viewed
          <h3>Don't misrepresent</h3>
          <p>Please make sure all representations are accurate, and if you're creating a company profile, that you are authorized to do so
          <h3>Choose your words wisely</h3>
          <p> Use the 'Description' in your profile to talk about what your company is really, REALLY good at. Don't try to be a jack of all trades - it doesn't sell
          <h3>Privacy and Confidentiality</h3>
          <p>Rest assured, we will NEVER compromise your information. Your e-mail address remains hidden at all times, unless you want it to be shown
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" language="javascript" charset="utf-8">
      $('document').ready(function(){

        $("#new_profile").submit(function(){
          return validate_form();
        });

        $(".interests input:checkbox").change(function(){
          var interests = new Array();
          $(".interests input:checkbox:checked").each(function(){
            interests.push($(this).val());
            $("#interested_in").val(interests.join(", "));
          });
        });

        $("#skype").click(function(){
            $('#key_individual_skype_availability').val($(this).attr("checked"));
        })

      });
</script>

