<% content_for :html_title, "#{@profile.name}\'s Profile" %>
<div class="content">
<% unless flash[:notice].blank? %>
  <p class="flash"><%= flash[:notice] %></p>
<% end %>
<% flash[:notice] = "" %>
  <div class="how_it_work_left_side">
    <div class="content_back">
      <div class="categories_box">
        <b>
		      <% unless @profile.company_type.blank? %>
		        <span><%= link_to ( @profile.company_type, :controller => "profiles", :action => "view_profile_list", :company_type => @profile.company_type ) unless @profile.company_type.blank? %></span>
		      <% end %>
		      <% unless @profile.services.blank? %>
		        <span><%= link_to ( @profile.services, :controller => "profiles", :action => "view_profile_list", :services => @profile.services) unless @profile.services.blank? %></span>
		      <% end %>
        </b>
      </div>
      <div class="author">
        <div class="profile_img">
          <%= (image_tag @profile.photo.url(:seller)) unless @profile.photo_file_name.blank? %>
          <%= (image_tag "avatar_70.png") if @profile.photo_file_name.blank?  %>
        </div>
        <div class="author_details">
          <h2 style="margin-top:25px;"><%= @profile.name %></h2>
          <span><%= @profile.city %>, <%= @profile.country %></span>
          <% unless @profile.user.company? || @profile.key_individual.blank? %>
            <span class="field_text"><%= @profile.key_individual.title %>, <%= @profile.key_individual.name %></span>
          <% end %>
        </div>
        <div class="web_links">
          <%= link_to ((image_tag "Website.png"), @profile.website, :target => "_blank" ) unless @profile.website.blank? %>
          <%= link_to ((image_tag "linkedin.png"), @profile.key_individual.linkedin, :target => "_blank" ) unless (@profile.key_individual.blank? || @profile.key_individual.linkedin.blank?) || (@profile.profile_type == "company")%>
        </div>
      </div>
      <% if @profile.profile_type == "company" %>
        <%= render :partial => 'company_details' %>
      <% end %>
      <% if @profile.profile_type == "individual" %>
        <%= render :partial => 'user_details' %>
      <% end %>
      <div class="facebook_back">
        <div class="login_tab">
          <div style="display: block; min-height:165px !important;" class="sign_up_box" id="tabOne">
            <h4 class="heading_color" style="margin-top:0px; border-top:0px;">Reviews & Comments</h4>
            <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=175351785849270&amp;xfbml=1"></script><fb:comments href="http://<%= request.host %>/profile/<%= @profile.url_slug %>" num_posts="2" height="165" width="440"></fb:comments>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right_content buttons">
    <div class="message_purchase">
      <a class="grey_button" href="#message_form" id="message_link" >Send Message</a>
    </div>
  </div>
</div>
<%= render :partial => 'message_form'%>
