<% content_for :html_title, 'Browse Directory' %>
<%= stylesheet_link_tag 'autocomplete'%>

<%= javascript_include_tag 'profiles_search_filters' %>

<div class="content">
  <div class="profile_tabs">
    <ul class="tabs">
      <li style="-moz-border-radius-topright: 10px !important; -webkit-border-top-right-radius: 10px !important;dislay:none;">
        <%= link_to 'Profiles', { :controller => 'profiles', :action => 'view_profile_list'}, { :class => 'profiles' }%>
      </li>
      <li style="-moz-border-radius-topleft: 10px !important; -webkit-border-top-left-radius: 10px !important;">
        <%= link_to 'Publications', { :controller => 'resources', :action => 'view_posts' }, { :class => 'posts' } %>
      </li>
    </ul>
  </div>
  <div class="search_contant">
    <div class="left_content" id="left_content">
      <%= render :partial => 'profiles' %>
    </div>
    <div class="search_right">
      
      
      <div class="field price_rang">
        <h2>Location</h2>
        <%= country_select("location", "country", ["All"], { :include_blank => false }) %>
      </div>

      <div class="fixed_box">
        <div class="price_rang field">
          <h2>Company Size</h2>
          <div class="field">
          <select name="company_type" id="company_type">
            <option value="any" selected="selected">Any</option>
            <option value="Large Firm">Large Firm</option>
            <option value="Medium-sized Firm">Medium-sized Firm</option>
            <option value="Small Firm">Small Firm</option>
            <option value="Internet Startup">Internet Startup</option>
          </select>
        </div>
      </div>
    
    </div>
  </div>
</div>
<script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js"></script>
<script language="JavaScript1.2" type="text/javascript" src=http://cdn.jquerytools.org/1.1.0/jquery.tools.min.js"></script>
<script language="JavaScript1.2" type="text/javascript" src="http://jquery.bassistance.de/autocomplete/jquery.autocomplete.js" ></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/rangeinput.css"/>
