<% content_for :html_title, 'Browse Directory' %>
<%= stylesheet_link_tag 'autocomplete'%>

<%= javascript_include_tag 'profiles_search_filters' %>

<div class="content">
  <div class="profile_tabs">
    <ul class="tabs">
      <li style="-moz-border-radius-topright: 10px !important; -webkit-border-top-right-radius: 10px !important;dislay:none;">
        <%= link_to 'Profiles', { :controller => 'profiles', :action => 'view_profile_list'}, { :class => 'profiles' }%>
      </li>
      <li style="-moz-border-radius-topleft: 10px !important; -webkit-border-top-left-radius: 10px !important;">
        <%= link_to 'Publications', { :controller => 'resources', :action => 'view_posts' }, { :class => 'posts' } %>
      </li>
    </ul>
  </div>
  <div class="search_contant">
    <div class="left_content" id="left_content">
      <%= render :partial => 'profiles' %>
    </div>
    <div class="search_right">
      <div class="fixed_box">
        <div class="price_rang field">
          <h2>Profile Type</h2>
          <div class="field">
          <select name="profile_type" id="profile_type">
            <option value="All" selected="selected">All</option>
            <option value="individual">Individual</option>
            <option value="company">Company</option>
          </select>
        </div>
      </div>
      <div class="field result_count" id="profile_type_result"></div>
        <div class="field price_rang">
          <h2>Location</h2>
          <%= country_select("location", "country", ["All"], { :include_blank => false }) %>
        </div>
        <div class="field result_count" id = "location_result" ></div>
          <div class="field price_rang">
          <h2>Interested In</h2>
          <div class="field Interested_field">
            <input type="checkbox" value="FT projects" name="ft_projects" checked="checked" />
            <label>FT projects</label>
          </div>
          <div class="field Interested_field">
            <input type="checkbox" value="PT projects" name="pt_projects" checked="checked" />
            <label>PT projects</label>
          </div>
          <div class="field Interested_field">
            <input type="checkbox" value="Expert Advisory" name="expert_advisory" checked="checked" />
            <label>Expert Advisory</label>
          </div>
          <div class="field result_count" id="interested_result"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js"></script>
<script language="JavaScript1.2" type="text/javascript" src=http://cdn.jquerytools.org/1.1.0/jquery.tools.min.js"></script>
<script language="JavaScript1.2" type="text/javascript" src="http://jquery.bassistance.de/autocomplete/jquery.autocomplete.js" ></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/rangeinput.css"/>
