<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Email Template - Meagan Fisher - CM2</title>

	<style type="text/css">
	strong{
		font-variant: small-caps;
		text-transform: lowercase;
		color:#000;
	}
	p
	{
		margin-left: 10px;
	}
	</style>

	</head>

	<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #FFFFFF; font-family: Helvetica, Arial, sans-serif;">

<p>Dear <%= @recipient_name.split(" ").first %>,</p>
<p>&nbsp;</p>
<p>You have received a message from [Full Name] on Research Nation. Please see below:</p>
<p>&nbsp;</p>
"
<p><%= @subject %></p>
<p>&nbsp;</p>
<p><%= @message %></p>
<p>&nbsp;</p>
<p><%= @sender_name %></p>
"
<p>&nbsp;</p>
<p>How to Respond?</p>
<p>&nbsp;</p>
<p>Via Email: <a href="mailto:<%= @sender_email %>"><%= @sender_email %></a> or automatically open up a new message by clicking <a href="mailto:<%= @sender_email %>">here</a>.</p>
<p>&nbsp;</p>
<p>Tip: If you have a listing on our site, responding to questions improves your placement in search results; ignoring questions causes your listing to appear lower.</p>
<p>&nbsp;</p>
<p>Thanks,</p>
<p>&nbsp;</p>
<p>Research Nation Team</p>
<p>&nbsp;</p>
<p>Got questions? <a href="http://www.researchnation.net/how_it_works">Get answers here</a>.</p>
	</body>
</html>


