<% content_for :html_title, 'Add a Review' %>
<%= javascript_include_tag "upload_form" %>
<% ratings_for @comment, :remote_options => {:url => "/resources/rate/"}%>
<%= stylesheet_link_tag 'autocomplete'%>
<div class="content">
    <div class="how_it_work_left_side">

      <div class="seller_back">
          <a id="login_link" href="#login_form" ></a>
          <div style="display: none;">
          <% unless logged_in? %>
              <div id="login_form" style="width:700px;height:250px;overflow:hidden;left:-192px;bottom:20px;">
                <%= render :partial => 'users/register'%>
            </div>
            <% end %>
          </div>
          <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
          <div class="create_heading_box">
            <h1 style="margin-top:5px !important; margin-bottom:5px !important;">Add a Review</h1>
            <b>By sharing your comments, you're helping other research buyers make better decisions, and avoid regret. Thank you.  
            </b>
          </div>
          <div class="sign_up_box create_review">
              <% form_for(@comment , :url => { :controller => 'comments', :action => 'create_review', :user => params[:user] }, :html => { :multipart => true } ) do |f| %>
              <h4 class="heading_color" style="border-top:0px;">What would you like to review?</h4>
              <div class="field">
                  <label>Review Type</label>
                  <select name="type" id="type">
                    <option value="resource" selected="selected">Research Report</option>
                    <option value="profile">Research Firm</option>
                  </select>
              </div>
              <div class="resource">
                <div class="field">
                    <label>Enter Publisher Name*</label>
                    <%= text_field 'profile', 'name', :class => 'required publisher suggestion', :value => "Start typing to begin" ,:id => "publisher_name" %>
                </div>
                <div class="field", id="report">
                    <label>Choose Report*</label>
                    <div id="report_content"></div>
                    <%# select("post","report", Resource.not_deleted.map{|r| [r.title, r.id] }, {:include_blank => true, :class => "required"}) %>

                </div>
              </div>

              <div class="profile" style="display:none;">
                <div class="field">
                    <label>Enter Company Name*</label>
                    <%= text_field 'resource', 'industry', :class => 'required publisher suggestion', :value => "Start typing to begin"  %>
                </div>
              </div>

              <h4 class="heading_color">Please provide your contact details</h4>

              <div class="field">
                  <label>Your Name*</label>
                  <%= text_field 'comment', 'user_name', :class => 'required max_len', :max_length => 25, :id => "user_name" %>
              </div>

              <div class="field">
                  <label>Your Telephone</label>
                  <%= text_field 'comment', 'telephone', :class => 'max_len', :max_length => 25 %>
              </div>

              <div class="field">
                  <label>Your Linkedin ID</label>
                  <%= text_field 'comment', 'linkedin', :class => 'max_len', :max_length => 25 %>
              </div>

              <div class="resource">

                <h4 class="heading_color">How would you rate this report</h4>

                <div class="field">
                    <label>Overall rating*</label>  
                    <div class="ajaxful-rating comment-rating" style="float: left;">
                      <% 5.times do |i|  %>
                        <%=  radio_button :comment, :stars, i + 1, :id => "rating_#{i+1}",
                         :class => "comment_radio_buttons required", :style => "visibility: hidden" %>
                        <a class="stars-<%= i+1 %> comment_star_<%= i+1 %>" href="#"></a>
                      <% end %>
                    </div>
                </div>
                <h4 class="heading_color">Please provide your rating below</h4>
              </div>

              <div class="profile" style="display:none;">
                <h4 class="heading_color">Please add your review below</h4>
                <div class="field">
                    <label>Describe your relationship*</label>
                    <select name="comment[relationship]" id="relationship">
                      <option value="customer" selected="selected">Customer</option>
                      <option value="friend">Friend</option>
                      <option value="other">Other</option>
                    </select>
                </div>
              </div>

              <div class="field">
                  <label>Title of your review*</label> 
                  <%= text_field :comment, :title, :class => 'required max_len', :max_length => 50 %>
              </div>
              <div class="field">
                  <label>Your review*</label>
                  <%= text_area :comment, :comment, :class => 'max_len required tip', :max_length => 500 %>
              </div>


            <div class="submit_button"><%= submit_tag "Submit", :class => "green_button" %></div>
          </div>
          <% end %>
      </div>
  </div>

<%= javascript_include_tag "jquery.autocomplete.js" %>
<%= javascript_include_tag "jquery.validate.min.js" %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    function select_rating(i){
      $(".comment_star_" + i).live("click", function(){
        $("#rating_" + i).attr("checked", true);
        $(".comment_show").remove();
        $(".comment-rating").append(
          '<li class="show-value comment_show" id="comment_value_' + 
          i + '" style="width:' + (i * 20) + '.0%"></li>');
        return false;
      });
    }
    
    for (i=1;i<=5;i++){
      select_rating(i);
    }

    $("#type").change(function(){
      if($(this).val() == "profile"){
        $(".profile").show();
        $(".resource").hide();
      }else{
        $(".profile").hide();
        $(".resource").show();
      }
    })

    $("#report").hide();

    $("#publisher_name").click(function(){
      $(this).val("");
    });

    $("#profile_name").focus(function(){
      $("#profile_name").val("");
      $("#profile_name").removeClass("suggestion");
    });

    $("#resource_industry").focus(function(){
      $("#resource_industry").val("");
      $("#resource_industry").removeClass("suggestion");
    });
    

    $('.publisher').autocomplete('/profiles/get_publishers', { autoFill : true}).result(function(event, item){
      $("#report").show();
      url = "/resources/get_resource_of_user?name="+ item;
        $.ajax({
          url: url,
          success: function(data){
            $("#report_content").html(data);
          }
        });
      });

    $("#new_comment").validate();

  });  
</script>