<ul class="tabs">
  <li <%= 'class="active"' if controller.action_name == "users" %> ><%= link_to "Users(#{@users_count})", { :controller => 'admin', :action => 'users' } %></li>
  <li <%= 'class="active"' if controller.action_name == "posts" %> ><%= link_to "Posts(#{@resources_count})", {:controller => 'admin', :action => 'posts' }%></li>


  <li <%= 'class="active"' if controller.action_name == "admin_rights" %> ><%= link_to "Admin(#{@admin_count})", { :controller => 'admin', :action => 'admin_rights'} , { :id => 'admin_rights' }%></li>
  <li <%= 'class="active"' if controller.action_name == "profiles" %> ><%= link_to "Profiles (#{@profiles_count})", { :controller => 'admin', :action => 'profiles'} , { :id => 'profiles' }%></li>
  <li <%= 'class="active"' if controller.action_name == "mail_chimp_list" %> ><%= link_to "Mailchimp (#{@members_count})", :controller => 'admin', :action => 'mail_chimp_list' %></li>
  <li <%= 'class="active"' if controller.action_name == "messages" %> ><%= link_to "Message (#{@messages_count})", :controller => 'admin', :action => 'messages' %></li>
  <li <%= 'class="active"' if controller.action_name == "seller_payments" %> ><%= link_to "Sellers", :controller => 'admin', :action => 'seller_payments' %></li>
  <li <%= 'class="active"' if controller.action_name == "payment_items" %> ><%= link_to "Payment Items", :controller => 'admin', :action => 'payment_items' %></li>
  <li <%= 'class="active"' if controller.action_name == "resource_comments" %> ><%= link_to "RComments (#{@r_comments_count})", :controller => 'admin', :action => 'resource_comments' %></li>
  <li <%= 'class="active"' if controller.action_name == "profile_comments" %> ><%= link_to "PComments (#{@p_comments_count})", :controller => 'admin', :action => 'profile_comments' %></li>
</ul>
