<%= javascript_include_tag "prototype"%>
<div class="tab_container">
<table border="0" cellspacing="5px" cellpadding="5px" id="users_table">
  <tbody>
    <tr>
      <th>Email</th>
      <th>Is_Admin?</th>
      <th>Change Admin Status</th>
    </tr>
    <% @users.each do |user|%>
      <tr>
        <td ><%= user.email%></td>
        <td ><%= user.is_admin?%></td>
        <%= render :partial => "is_admin_field", :locals => {:user => user}%>
      </tr>
    <% end %>
  <tbody>
</table>
<%= will_paginate @users %>
</div>
