<div class="tab_container">
<table border="0" cellspacing="5" cellpadding="5" id="mail_chimp_list_table">
  <tbody>
    <tr>
      <th width="20">No.</th>
      <th width="150">First Name</th>
      <th width="100">Last Name</th>
      <th width="200">Email Address</th>
      <th width="150">Subscribed At</th>
    </tr>
    <% @members.each_with_index do |m, index|%>
      <tr>
        <td><%= @members_count - index %></td>
        <td><%= m.FNAME %></td>
        <td><%= m.LNAME %></td>
        <td><%= m.email %></td>
        <td ><%= m.timestamp.to_date.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  <tbody>
</table>
</div>
