<div class="tab_container">
<table border="0" cellspacing="10" cellpadding="10" id=" posts_table" align="left">
  <tbody>
    <tr>
      <th>No.</th>
      <th><b>Title</b></th>
      <th>Posted By</th>
      <th>Price</th>
      <th>Date</th>
      <th></th>
    </tr>
    <% @posts.each_with_index do |post, index|%>
      <tr>
        <td ><%= (@resources_count - index).to_s %></td>
        <td><%= link_to post.title, :controller => 'resources', :action => 'edit', :id => post.id, :user => post.user.id  %></td>
        <td ><%= post.user.profile.name %></td>
        <td ><%= post.selling_price %></td>
        <td ><%= post.created_at.strftime("%B %d, %Y") %></td>
        <td ><%= link_to 'Delete', { :controller => 'resources', :action => 'delete', :id => post.id, :request => "admin"}, :confirm => "Are you sure you want to delete this post?"  %>
        </td> 
      </tr>
    <% end %>
  <tbody>
</table>
<%= will_paginate @posts %>
</div>
