<div class="tab_container">
<table border="0" cellspacing="5" cellpadding="5" id="users_table">
  <tbody>
    <tr>
      <th width="20">No.</th>
      <th width="150">Name</th>
      <th width="100">Country</th>
      <th width="300">Website</th>
    </tr>
    <% @profiles.each_with_index do |p, index|%>
      <tr>
        <td><%= @profiles_count - index %></td>
        <td><%= (link_to p.name, :controller => 'profiles', :action => 'edit_company_profile', :user_id => p.user_id) if p.user.company? %>
        <%= (link_to p.name, :controller => 'profiles', :action => 'edit_individual_profile', :user_id => p.user_id) unless p.user.company? %>
        </td>
        <td ><%= p.country %></td>
        <td ><%= p.website %></td>
        <td ><%= link_to 'Delete', { :controller => 'profiles', :action => 'delete', :user_id => p.user_id }, :confirm => "Are you sure you want to delete this post?"  %></td>
      </tr>
    <% end %>
  <tbody>
</table>
</div>
