<div class="tab_container">
  <p><b>Individual Profiles: </b><%= @individual_users_count %>   <b>Company Profiles: </b><%= @company_users_count %></p>
  <table border="0" cellspacing="5px" cellpadding="5px" id="users_table" >
  <tbody>
    <tr>
      <th width="20">No.</th>
      <th width="200">Email</th>
      <th>User Type</th>
      <th width="150">Sign-up Date</th>
      <th width="150">Last Login Date</th>
    </tr>
    <% @users.each_with_index do |user, index|%>
      <tr>
        <td><%= (@users_count - index ).to_s %></td>
        <td ><%= user.email %></td>
        <td><%= user.user_type.capitalize unless user.user_type.blank?%></td>
        <td ><%= user.created_at.strftime("%B %d, %Y") unless user.created_at.blank?%></td>
        <td ><%= user.last_login_at.strftime("%B %d, %Y") unless user.last_login_at.blank?%></td>
        <td ><a href="/resources/new/?user_id=<%= user.id%>">create a post</a></td>
      </tr>
    <% end %>
  <tbody>
  </table>
  <%= will_paginate @users %>
</div>
