<% unless orders.blank? %>
<%
  total = 0;
  fees = 0;
  your_earnings = 0;
%>
  <div class="users_table">
    <div class="earnings_title">
      <table border="0" cellspacing="5" cellpadding="5" id=" resources_table" align="left">
	      <tbody>
	      	<tr>
          	<th width="85">Date</th>
          	<th width="150">Title</th>
          	<th width="85">Price</th>
          	<th width="85">Less Fees</th>
          	<th width="100">Your Earnings</th>
	      	</tr>
        </tbody>
      </table>
    </div>
    <div class="results profile_fixed_box">
	    <table border="0" cellspacing="5" cellpadding="5" id=" resources_table" align="left">
	      <tbody>
		      <% orders.each do |order|%>
		        <tr>
              <td width="85"><span class="fixed"><%= order.created_at.strftime("%B %d") %></span></td>
              <td width="150"><%= link_to ( truncate(order.resource.title, :omission => "...", :length => 30), { :controller => 'resources', :action => 'seller_page', :url_slug => order.resource.url_slug}, { :class => 'fixed' } )  %></td>
              <td width="85"><span class="fixed"><%= number_to_currency(order.resource.selling_price, :precision => 0) %></span></td>
              <td width="85"><span class="fixed"><%= number_to_currency((order.resource.selling_price * 0.3), :precision => 0) %></span></td>
              <td width="85"><span class="fixed"><%=  number_to_currency((order.resource.selling_price * 0.7), :precision => 0)  %></span></td>
		        </tr>
		        <% total += order.resource.selling_price %>
		        <% fees += (order.resource.selling_price * 0.3) %>
		        <% your_earnings += (order.resource.selling_price * 0.7)%>
		      <% end %>

	      <tbody>
      </table>
      <% if total > 0 %>
        <div class="total_price">
          <ul>
            <li class="total">Total </li>
            <li class="price_tab"><%= number_to_currency (total, :precision => 0)%></li>
            <li class="fee"><%= number_to_currency(fees, :precision => 0)%></li>
            <li class="earning"><%= number_to_currency(your_earnings, :precision => 0)%></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
