<% unless resources.blank? %>
  <div class="earnings_title post_bordder_less">
    <div class="post_listing" id="resources_table">
	    <ul>
		    <li class="post_listing_title"><b>Title</b></li>
  			<li class="post_listing_price"><b>Price</b></li>
    		<li class="post_listing_date"><b>Date</b></li>
    		<li class="post_listing_sold"><b>No. Sold</b></li>
    		<li class="post_listing_edit"></li>
    		<li class="post_listing_deleted"></li>
	    </ul>
	  </div>
	</div>
	<div class="profile_fixed_box" style="max-height:343px;">
	  <div class="post_listing" id="resources_table">
		  <% resources.each do |resource|%>
		  	<ul>
	          <li class="post_listing_title"><%= resource.is_deleted? ? truncate(resource.title, :omission => "...", :length => 30) : (link_to ( truncate(resource.title, :omission => "...", :length => 50), { :controller => 'resources', :action => 'seller_page', :url_slug => resource.url_slug}, { :class => 'fixed' } ))  %></li>
	          <li class="post_listing_price"><span class="fixed">$<%= resource.selling_price %></span></li>
	          <li class="post_listing_date"><span class="fixed"><%= resource.created_at.strftime("%B %d") %></span></li>
	          <li class="post_listing_sold"><span class="fixed"><%= resource.total_orders.count %></span></li>
          <% unless resource.is_deleted? %>
              <li class="user_profile_buttons post_listing_edit"><%= link_to (( image_tag "edit.jpg"), { :controller => 'resources', :action => 'edit', :url_slug => resource.url_slug})%></li>
              <li class="user_profile_buttons post_listing_deleted"><%= link_to (( image_tag "delete.jpg"), { :controller => 'resources', :action => 'delete', :url_slug => resource.url_slug, :request => "user" }, :confirm => "Are you sure you want to delete this post?" )%></li>
	          <% else %>
	              <li class="post_listing_edit">&nbsp;</li>
	              <li class="post_listing_deleted1">Deleted</li>
	          <% end %>
	        </ul>
		  <% end %>
  </div>
</div>
<% else %>
<i class="italicized_text">You haven't created any posts yet. Get started now by clicking <%= link_to "here", :controller => 'resources', :action => 'upload_docs' %>.</i>
<% end %>
