<div class="users_table">
	<table border="0" cellspacing="5" cellpadding="5" id=" resources_table" align="left">
	<tbody>
		<% resources.each do |resource|%>
		  <tr>
        <td width="150"><%= link_to ( truncate(resource.title, :omission => "...", :length => 25), { :controller => 'resources', :action => 'edit', :id => resource.url_slug}, { :class => 'fixed' } )  %></td>
        <td width="85"><span class="fixed">$<%= resource.selling_price %></span></td>
        <td width="85"><span class="fixed"><%= resource.created_at.strftime("%B %d") %></span></td>
        <td width="85" class="user_profile_buttons"><%= link_to (( image_tag "delete.jpg"), { :controller => 'resources', :action => 'delete', :id => resource.url_slug, :request => "user" }, :confirm => "Are you sure you want to delete this post?" )  %>
        <td width="85"><span class="fixed"><%= resource.total_orders.count %></span></td>
        <td width="85"><span class="fixed"><%= resource.pending_orders.count %></span></td>
        <td width="85"><span class="fixed"><%= resource.paid_orders.count %></span></td>
		    </td>
		  </tr>
		<% end %>
	<tbody>
</table>
</div>


