<% form_tag (:controller => "users", :action => "authenticate", :opt => 'login') do%>
  <div class="field">
    <label>E-mail</label>
    <%= text_field 'login', 'email', :class => "login_field" %>
  </div>
  <div class="field">
    <label>Password</label>
    <%= password_field 'login', 'password', :class => "login_field" %>
  </div>
  <p class="error"><%= flash[:error] %></p>
  <%= flash[:error] = "" %>
  <div class="forgot">
    <%= link_to "Forgot my password", :controller => "users", :action => "forgot_password" %>
  </div>
  <div class="sign_up_button"><%= submit_tag 'Log In', :onSubmit => 'return validate();', :class => "green_button" %></div>
<% end %>
