<div class="users_table">
		<% earnings.each do |earning|%>
        <div style="margin-right:10px;float:left">
          <a href="#earnings-<%= earning[:month].month%>-<%= earning[:month].year%>" id ="earnings-link-<%= earning[:month].month%>-<%= earning[:month].year%>"><%= earning[:month].strftime("%B %Y")%></a>
        </div>
        <div><span class="fixed"><%=  number_to_currency(earning[:total_earnings])  %></span></div>

        <div id="earnings-<%= earning[:month].month%>-<%= earning[:month].year%>" style="display:none">
          <a id="hide-earnings-<%= earning[:month].month%>-<%= earning[:month].year%>" href="#earnings-<%= earning[:month].month%>-<%= earning[:month].year%>"> Hide</a>
          <%= render :partial => "/users/earnings", :locals => {:orders => earning[:orders]}, :layout => false %>
		    </div>
		    <div class="clear"></div>
		<% end %>
</div>


