<%= javascript_include_tag 'prototype'%>
<% form_remote_tag(:url => { :action => "update_payment_preferences"}, :update => "preference_details" ) do %>
        <div class="field" style="margin-top:15px;">
          <%= radio_button("payment_preference", "option", "Paypal", :onclick => "jQuery('#paypal-field').show();jQuery('#add-field').hide();") %>
          <label> Paypal</label>
          <div id="paypal-field"  style="display:none; font-size:14px;"> <%= text_field "payment_preference", "paypal"%> </div>
        </div>
        <div class="field">
          <%= radio_button("payment_preference", "option", "Cheque", :onclick => "jQuery('#paypal-field').hide();jQuery('#add-field').show()") %>
          <label>Address</label>
          <div id="add-field" style="display:none; font-size:14px;"> <%= text_area "payment_preference", "address"%> </div>
        </div>
       <br><br>
      <!-- Add a text field to this form -->

      <!-- Add a submit button -->
      <%= submit_tag "Submit" %>

<% end %>

<div id="preference_details">
  <%= render :partial => "/users/preference_details", :layout => false %>
</div>
