<% unless purchases.blank? %>
  <div class="earnings_title">
    <div id=" posts_table" class="purchases">
    	<ul>
          <li class="purchases_title">Title</li>
          <li class="purchases_price">Price</li>
          <li class="purchases_date">Date</li>
      </ul>
    </table>
  </div>
  <div class="profile_fixed_box" style="max-height:343px;">
  	<div id="posts_table" class="purchases">
    	<tbody>
        <% purchases.each do |order|%>
            <li class="purchases_title"><%= truncate(order.resource.title, :length => 30, :omission => "...")%></li>
            <li class="purchases_price">$ <%= order.resource.selling_price %></li>
            <li class="purchases_date"><%= order.created_at.strftime("%B %d, %Y") %></li>
            <li class="user_profile_buttons"><%= link_to (image_tag "download.jpg"), :controller => 'purchases', :action => 'download', :url_slug => order.resource.url_slug%></li>
        <% end %>
    	<ul>
    </div>
  </div>
<% else %>
<i class="italicized_text">You haven't made any purchases yet. Get started by clicking <%= link_to "here", :controller => "resources", :action => "view_posts" %>.</i>
<% end %>
