<%= javascript_include_tag "registration_validations" %>
<div class="content">
  <div id="register_form" class="how_it_work_left_side margin_bottom">
		<% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
		<% flash[:notice] = "" %>
		<div class="register_back">
			<div class="login_box">
				<div class="seller_back">
					<div class="login_tab">
						<a href="#" onclick="showTab('signup');" style="" class="sign_up" id="signup-tab">Sign Up</a>
						<a href="#" onclick="showTab('login');" class="login" id="login-tab">Log In</a>
						<div  style="display: none;" class="sign_up_box" id="signup-body">
              <%= render :partial => 'users/errors' unless @user.blank? %>
							<%= render :partial => 'users/signup'%>
							<div style="display: block;" class="sign_up_box" id="login-body">
						  <%= render :partial => 'users/login'%>
							</div>
						</div>
				 	</div>
				</div>
			</div>
		</div>	
	</div>
