<div class="content">
  <div class="how_it_work_left_side">
    <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
    <div class="seller_back">
      <div class="login_tab">
        <div style="display: block;" class="sign_up_box" id="tabOne">
          <p class="forgit_password">Enter your e-mail below, we will send you a temporary password</p>
	  <%= form_tag  ({ :action => 'forgot_password' }, { :id => 'password_form' }) %>
          <div class="field">
            <label>Your e-mail</label>
            <%= text_field_tag 'email_address', "", :id => "email", :class => 'forgit_email' %>
          </div>
          <div class="flash_messages">
	    <div style="float:left;color:red;width:100%;margin-left:10px;"><%= flash[:error] %></div>
            <%= flash[:error] = "" %>
          </div>
        </div>
	<div class="sign_up_button"><%= submit_tag 'Submit' %></div>
      </div>
    </div>
  </div>
</div>

