<div class="content">
  <div class="how_it_work_left_side">
    <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
    <div class="seller_back">
      <div class="login_tab">
      <div style="display: block;" class="sign_up_box" id="tabOne">
        <p class="forgit_password">Reset Password for <%= params[:email] %></p>
          <%= form_tag ({ :action => 'reset_password', :id => params[:id], :email => params[:email], :token => params[:token] }, :id => "reset_password") %>
          <div class="field">
            <label style="width:120px; margin-left:3px;">Password</label>
            <%= password_field_tag 'password', "", :id => "pwd", :class => 'required' %>
          </div>
          <div class="field">
            <label style="width:120px; margin-left:3px;">Password (again)</label>
            <%= password_field_tag 'confirm_password', "",  :id => "confirm", :class => 'required' %>
          </div>
        </div>
        <div class="new_password_button"><%= submit_tag 'Save', :class => 'green_button' %></div>
      </div>
    </div>
  </div>
</div>
