<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="login_tab">
      <div style="display: block;" class="sign_up_box" id="tabOne">
        <b>Reset Password for <%= params[:email] %></b>
        <div class="register_form">
          <%= form_tag ({ :action => 'reset_password', :id => params[:id], :email => params[:email], :token => params[:token] }, :id => "reset_password") %>
          <div class="field">
            <label>Password</label>
            <%= password_field_tag 'password', "", :id => "pwd" %>
          </div>
          <div class="field">
            <label>Password (again)</label>
            <%= password_field_tag 'confirm_password', "",  :id => "confirm" %>
          </div>
          </div>
          <div class="sign_up_button"><%= submit_tag 'Save' %></div>
        </div>
      </div>
    </div>
  </div>
</div>
