<div class="content">
<div class="content_back">
<div class="round_box">
<div class="login_tab">
<div style="display: block;" class="sign_up_box" id="tabOne">
<b>Reset Password for <%= params[:email] %></b>
<div class="register_form">
<span>Enter your new password below.</span>
<%= form_tag ({ :action => 'reset_password', :id => params[:id], :email => params[:email], :token => params[:token] }, :id => "reset_password") %>
<div class="field">
<label>Password</label>
<%= password_field_tag 'password', "", :id => "pwd" %>
</div>
<div class="field">
<label>Password (again)</label>
<%= password_field_tag 'confirm_password', "",  :id => "confirm" %>
</div>

</div>
<div class="sign_up_button"><%= submit_tag 'Save' %></div>
</div>  
</div>
</div>
</div>
</div>
<script type="text/javascript" language="javascript" charset="utf-8">
$(document).ready(function(){

var password_validation = new LiveValidation('pwd');
password_validation.add( Validate.Presence );
password_validation.add( Validate.Length,{ minimum : 6 } );

var confirmation_validation = new LiveValidation('confirm');
confirmation_validation.add( Validate.Presence );
confirmation_validation.add( Validate.Length,{ minimum : 6 } );
confirmation_validation.add( Validate.Confirmation, { match: 'pwd' } );
});
</script>
