<div class="content">
		<% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
    <% flash[:notice] = "" %>
		<div class="profile_left">
      <% unless  @user.profile.blank?%>
      <%= (image_tag @user.profile.photo.url(:main), :width => "220", :height => "200") unless @user.profile.photo_file_name.blank? %>
      <%= (image_tag "avatar.png") if @user.profile.photo_file_name.blank? %>
      <% else %>
        <%= (image_tag "avatar.png") %>
      <% end %>
      <div class="bio_container">
      	<b>Email (this is kept private):</b>
        <span><%= @user.email %></span>
      </div>
      <div class="profile_button">
        <%= link_to ('Edit Profile', { :controller => 'profiles', :action => 'edit_individual_profile', :id => @user.profile.id }, { :class => 'green_button' }) if @user.user_type == "Seller (Individual)" %>
        <%= link_to ( 'Edit Profile', { :controller => 'profiles', :action => 'edit_company_profile', :id => @user.profile.id }, { :class => 'green_button' }) if @user.user_type == "Seller (Company)" %>
        <%= link_to ( 'Edit Profile', { :controller => 'profiles', :action => 'edit_individual_profile', :id => @user.profile.id }, { :class => 'green_button' }) if @user.user_type == "Buyer" %>
      </div>
   	</div>
    <div class="profile_listing">
      <ul class="tabs browse_tabs">
        <li><a href="#messages">Inbox</a></li>
        <li><a href="#listings">My Listings</a></li>
        <li><a href="#payments">Payments</a></li>
        <li><a href="#payments" id="purchase-link">Purchases</a></li>
      </ul>
    <div class="profile_right">
      <div class="tab_container profile_fixed_box">
        <div id="listings" class="tab_content">
          <%= render :partial => "listings", :locals => {:resources => @user.resources}%>
        </div>
        <div id="messages" class="tab_content">
          <%= render :partial => 'profiles/received_messages' %>
        </div>
        <div id="payments" class="tab_content">
        </div>
        <div id="purchases" class="tab_content">
        </div>
      </div>

      </div>
    </div>
  </div>
</div>

