<% unless @user.profile.blank? %>
  <% content_for :html_title, "#{@user.profile.name} Dashboard" %>
<% else %>
  <% content_for :html_title, "Dashboard" %>
<% end %>
<script type="text/javascript" language="javascript" charset="utf-8">
  $('document').ready(function(){
    $("#login_link").fancybox({ 
      'hideOnOverlayClick' : false,
      'transitionIn'		: 'none',
      'transitionOut'		: 'none'
   });
     $("#fancybox-close").click(function(){
      window.location.replace("/users/register");
  });
  $(document).keydown(function(e) {
    if (e.which == 0 || e.which == 27){
      location.replace("/users/register");
    }
	});
   <% unless logged_in? %>
    $("#login_link").trigger('click');
   <% end %>
  });
</script>
<a id="login_link" href="#login_form" ></a>
<div style="display: none;">
  <% unless logged_in? %>
    <div id="login_form" style="width:700px;height:250px;overflow:hidden;left:-192px;bottom:20px;">
      <%= render :partial => 'users/register'%>
    </div>
  <% end %>
</div>
<div class="content">
  <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
  <% flash[:notice] = "" %>
  <div class="content_back">
    <div class="user_profile_tabs">
      <ul class="tabs browse_tabs">
        <li><a href="#messages" id="messages-link">Inbox</a></li>
        <li><a href="#listings"  id="listings-link">Posts</a></li>
        <li><a href="#purchases" id="purchase-link">Purchases</a></li>
        <li><a href="#earnings" id="earnings-link">Earnings</a></li>
      </ul>
    </div>
		<div class="profile_left">
      <% unless @user.profile.blank? %>
        <%= (image_tag @user.profile.photo.url(:dashboard)) unless @user.profile.photo_file_name.blank? %>
        <%= (image_tag "avatar_200.png") if @user.profile.photo_file_name.blank? %>
      <% else %>
        <%= (image_tag "avatar_200.png") %>
      <% end %>
      <div class="bio_container">
      	<b>Email (this is kept private):</b>
        <span><%= @user.email %></span>
      </div>
      <div class="profile_button">
        <%= link_to('Update Your Profile', { :controller => 'profiles', :action => 'edit_individual_profile'}, { :class => 'green_button' }) if @user.individual? %>
        <%= link_to( 'Update Your Profile', { :controller => 'profiles', :action => 'edit_company_profile'}, { :class => 'green_button' }) if @user.company? %>
        <%= (link_to "View Your Profile", { :controller => 'profiles', :action => 'profile_page', :url_slug => @user.profile.url_slug } , { :class => 'view_profile' }) if !@user.profile.blank? && @user.profile.is_edited? %>
      </div>
   	</div>
    <div class="profile_listing">
      <div class="profile_right">
        <div class="tab_container earnings_fixed_box">
          <div id="messages" class="tab_content">
            <%= render :partial => 'profiles/received_messages' %>
          </div>
          <div id="listings" class="tab_content">
          </div>
          <div id="earnings" class="tab_content">
            <% if @user.pending_orders.size > 0%>
              <ul class="earnings_inner_link">
                <li><a href="#preferences-link" id="preferences-link">Preferences</a></li>
                <li><a href="#previous-earnings-link" id="previous-earnings-link">Previous</a></li>
                <li><a href="#current-earnings-link" id="current-earnings-link">Current</a></li>
              </ul>

              <div id="current-earnings" class="tab_content current">
              </div>
              <div id="previous-earnings" class="tab_content previous">
              </div>
              <div id="preferences" class="tab_content preferences">
              </div>
            <% else %>
<i class="italicized_text"> You don't have any earnings yet. Start selling now by clicking <%= link_to "here", "/create_a_post" %>.</i>
            <% end %>

          </div>
          <div id="purchases" class="tab_content">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
