<div class="content">
		<% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
    <% flash[:notice] = "" %>
		<div class="profile_left">
      <% unless  @user.profile.blank?%>
      <%= (image_tag @user.profile.photo.url(:main), :width => "220", :height => "200") unless @user.profile.photo_file_name.blank? %>
      <%= (image_tag "avatar.png") if @user.profile.photo_file_name.blank? %>
      <% else %>
        <%= (image_tag "avatar.png") %>
      <% end %>
      <div class="bio_container">
      	<b>Email (this is kept private):</b>
        <span><%= @user.email %></span>
      </div>
      <div class="profile_button">
        <%= link_to ('Edit Profile', { :controller => 'profiles', :action => 'edit_individual_profile', :id => @user.profile.id }, { :class => 'green_button' }) if @user.user_type == "Seller (Individual)" %>
        <%= link_to ( 'Edit Profile', { :controller => 'profiles', :action => 'edit_company_profile', :id => @user.profile.id }, { :class => 'green_button' }) if @user.user_type == "Seller (Company)" %>
        <%= link_to ( 'Edit Profile', { :controller => 'profiles', :action => 'edit_individual_profile', :id => @user.profile.id }, { :class => 'green_button' }) if @user.user_type == "Buyer" %>
      </div>
   	</div>
    <div class="profile_listing">
      <ul class="tabs browse_tabs">
        <li><a href="#messages">Inbox</a></li>
        <li><a href="#listings">My Listings</a></li>
        <li><a href="#payments">Payments</a></li>
        <li><a href="#payments">Purchase</a></li>
      </ul>
      <div class="profile_right">
      <div class="tab_container profile_fixed_box">
        <div id="messages" class="tab_content">
          <table border="0" cellspacing="5" cellpadding="5" id=" posts_table" align="left">
            <tbody id="received_messages">
              <%= render :partial => 'profiles/received_messages' %>
            </tbody>
            <tbody id="sent_messages" style="display:none">
              <%= render :partial => 'profiles/sent_messages' %>
            </tbody>
          </table>
        </div>
        <div id="listings" class="tab_content">
          <div class="users_table">
            <table border="0" cellspacing="5" cellpadding="5" id=" posts_table" align="left">
              <tbody>
                <% @user.resources.each_with_index do |post, index|%>
                  <tr>
                    <td width="150"><%= link_to ( truncate(post.title, :omission => "...", :length => 25), { :controller => 'resources', :action => 'edit', :id => post.id, :user => @user.id }, { :class => 'fixed' } )  %></td>
                    <td width="85"><span class="fixed">$<%= post.selling_price %></span></td>
                    <td width="85"><span class="fixed"><%= post.created_at.strftime("%B %d") %></span></td>
                    <td width="85" class="user_profile_buttons"><%= link_to (( image_tag "delete.jpg"), { :controller => 'resources', :action => 'delete', :id => post.id, :request => "user" }, :confirm => "Are you sure you want to delete this post?" )  %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div id="payments" class="tab_content"></div>
      </div>
    </div>
  </div>
</div>

