<script>
		$(document).ready(function() {

		//When page loads...
		$(".tab_content").hide(); //Hide all content
		$("ul.tabs li:first").addClass("active").show(); //Activate first tab
		$(".tab_content:first").show(); //Show first tab content

		//On Click Event
		$("ul.tabs li").click(function() {

			$("ul.tabs li").removeClass("active"); //Remove any "active" class
			$(this).addClass("active"); //Add "active" class to selected tab
			$(".tab_content").hide(); //Hide all tab content

			var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
			$(activeTab).fadeIn(); //Fade in the active ID content
			return false;
		});

	});
</script>

<div class="content">
	<div class="content_back">
		<% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
    <% flash[:notice] = "" %>
		<div class="profile_left">
      <% unless  @user.profile.blank?%>
      <%= (image_tag @user.profile.photo.url(:main), :width => "220", :height => "200") unless @user.profile.photo_file_name.blank? %>
      <%= (image_tag "avatar.png") if @user.profile.photo_file_name.blank? %>
      <% else %>
        <%= (image_tag "avatar.png") %>
      <% end %>

      <div class="bio_container">
      	<b>Email (this is kept private):</b>
        <span><%= @user.email %></span>
      </div>

      <div class="profile_button">
        <%= link_to 'Edit Profile', :controller => 'profiles', :action => 'edit_individual_profile', :id => @user.profile.id if @user.user_type == "Seller (Individual)" %>
        <%= link_to 'Edit Profile', :controller => 'profiles', :action => 'edit_company_profile', :id => @user.profile.id if @user.user_type == "Seller (Company)" %>
        <%= link_to 'Edit Profile', :controller => 'profiles', :action => 'edit_individual_profile', :id => @user.profile.id if @user.user_type == "Buyer" %>
      </div>
   	</div>
    <div class="profile_right">
			<ul class="tabs">
        <li><a href="#listings">My Listings</a></li>
        <li><a href="#messages">Inbox</a></li>
        <li><a href="#payments">Payments</a></li>
        <li><a href="#payments">Purchase</a></li>
      </ul>


<div class="tab_container">
  <div id="listings" class="tab_content">
		<div class="users_table">
			<table border="0" cellspacing="0" cellpadding="0" id=" posts_table" align="left">
			<tbody>
				<tr>
				  <th width="50">No.</th>
				  <th width="600">Title</th>
				  <th width="100">Price</th>
				  <th width="100">Date</th>
				  <th></th>
				</tr>
				<% @user.resources.each_with_index do |post, index|%>
				  <tr>
				    <td ><%= (@user.resources.count - index).to_s %></td>
				    <td><%= link_to post.title, :controller => 'resources', :action => 'edit', :id => post.id, :user => @user.id  %></td>
				    <td ><%= post.selling_price %></td>
				    <td ><%= post.created_at.strftime("%B %d, %Y") %></td>
				    <td ><%= link_to 'Edit', :controller => 'resources', :action => 'edit', :id => post.id, :user => @user.id  %></td>
				    <td ><%= link_to 'Delete', { :controller => 'resources', :action => 'delete', :id => post.id, :request => "user" }, :confirm => "Are you sure you want to delete this post?"  %>
				    </td>
				  </tr>
				<% end %>
			<tbody>
		</table>
		</div>
  </div>
  <div id="messages" class="tab_content">
    <table border="0" cellspacing="10" cellpadding="10" id=" posts_table" align="left">
			<tbody id="received_messages">
				<%= render :partial => 'profiles/received_messages' %>
			<tbody>
			<tbody id="sent_messages" style="display:none">
				<%= render :partial => 'profiles/sent_messages' %>
			<tbody>
		</table>
  </div>
  <div id="payments" class="tab_content">
	  My Payments
  </div>

      </div>
   	</div>
	</div>
</div>

