<script type="text/javascript" language="javascript" charset="utf-8">
  $('document').ready(function(){
    $("#login_link").fancybox({ 
      'hideOnOverlayClick' : false,
      'transitionIn'		: 'none',
      'transitionOut'		: 'none'
   });
     $("#fancybox-close").click(function(){
      window.location.replace("/users/register?opt=login");
  });
  $(document).keydown(function(e) {
    if (e.which == 0 || e.which == 27){
      location.replace("/users/register");
    }
	});
   <% unless logged_in? %>
    $("#login_link").trigger('click');
   <% end %>
  });
</script>
<a id="login_link" href="#login_form" ></a>
<div style="display: none;">
  <% unless logged_in? %>
  <div id="login_form" style="width:700px;height:250px;overflow:hidden;left:-192px;bottom:20px;">
      <%= render :partial => 'users/register'%>
  </div>
  <% end %>
</div>
<div class="content">
		<% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
    <% flash[:notice] = "" %>
		<div class="profile_left">
      <% unless  @user.profile.blank?%>
      <%= (image_tag @user.profile.photo.url(:main), :width => "220", :height => "200") unless @user.profile.photo_file_name.blank? %>
      <%= (image_tag "avatar.png") if @user.profile.photo_file_name.blank? %>
      <% else %>
        <%= (image_tag "avatar.png") %>
      <% end %>
      <div class="bio_container">
      	<b>Email (this is kept private):</b>
        <span><%= @user.email %></span>
      </div>
      <div class="profile_button">
        <%= link_to ('Edit Profile', { :controller => 'profiles', :action => 'edit_individual_profile', :id => @user.profile.id }, { :class => 'green_button' }) if @user.user_type == "Seller (Individual)" %>
        <%= link_to ( 'Edit Profile', { :controller => 'profiles', :action => 'edit_company_profile', :id => @user.profile.id }, { :class => 'green_button' }) if @user.user_type == "Seller (Company)" %>
        <%= link_to ( 'Edit Profile', { :controller => 'profiles', :action => 'edit_individual_profile', :id => @user.profile.id }, { :class => 'green_button' }) if @user.user_type == "Buyer" %>
      </div>
   	</div>
    <div class="profile_listing">
      <ul class="tabs browse_tabs">
        <li><a href="#messages">Inbox</a></li>
        <li><a href="#listings"  id="listings-link">My Listings</a></li>
        <li><a href="#pending-earnings" id="pending-earnings-link">Earnings</a></li>
        <li><a href="#purchases" id="purchase-link">Purchases</a></li>
        <li><a href="#paid-earnings" id="paid-earnings-link">My Account</a></li>
        <li><a href="#preferences" id="preferences-link">Preferences</a></li>
      </ul>
      <div class="profile_right">
        <div class="tab_container profile_fixed_box">
          <div id="listings" class="tab_content">
          </div>
          <div id="messages" class="tab_content">
            <%= render :partial => 'profiles/received_messages' %>
          </div>
          <div id="pending-earnings" class="tab_content">
          </div>
          <div id="purchases" class="tab_content">
          </div>
          <div id="paid-earnings" class="tab_content">
          </div>
          <div id="preferences" class="tab_content">
          </div>
        </div>
      </div>
    </div>
</div>