<%= javascript_include_tag "registration_validations" %>
<div class="content">
	<div class="register_back">
		<div class="login_box">
		<div class="round_box">
		<div class="login_tab">
		<a href="#" onclick="showTab('signup');" style="" class="sign_up" id="tab2">Sign Up</a>
		<a href="#" onclick="showTab('login');" class="login" id="tab1">Log In</a>
		<div style="display: block;" class="sign_up_box" id="tabOne">
<!--
		<div class="facebook_box">
		<b>Sign up using Facebook:</b>
			<%= link_to image_tag("facebook_connect.jpg"), :controller => 'users', :action => 'facebook_connect'%>
		</div>
		<b>Or standard sign up: </b>
-->
		<div class="register_form">
		<%= render :partial => 'errors' %>
		<% form_for(@user , :url => {:controller => "users", :action => "create" } ) do |f| %>
		<div class="field">
		<label>First Name</label>
		<%= f.text_field 'first_name', :id => "first_name" %>
		</div>
		<div class="field">
		<label>Last Name</label>
		<%= f.text_field 'last_name', :id => "last_name" %>
		</div>
		<div class="field">
		<label>E-mail</label>
		<%= f.text_field 'email', :id => "email" %>
		</div>
		<div class="field">
		<label>Password</label>
		<%= f.password_field 'password', :id => "password" %>
		</div>
		<div class="check_box">
		<%= check_box_tag 'get_updates', "yes", true %><span>Please send me koala updates (via a newsletter) every now and then</span>
		</div>
		<div class="field">
			<label>User Type</label>
			<%= ( f.select "user_type", ["Buyer", "Seller" ], { :include_blank => true }, {:class => 'required' }) %>
		</div>
		<div class="field" style="display:none;" id = "profile_type">
		<label>Profile Type</label>
			<select name="profile_type"  >
				<option value="Company">Company</option>
				<option value="Individual">Individual</option>
			</select>
		</div>
		</div>
		<div class="sign_up_button"><%= submit_tag 'Sign up'%></div>
		</div>
		<% end %>
		<div style="display: none;" class="login_tab_box" id="tabTwo">
<!--
		<div class="facebook_box">
		<b>Sign in using Facebook:</b>
		<%= link_to image_tag("facebook_connect.jpg"), :controller => 'users', :action => 'facebook_connect'%>
		</div>

		<b>Or standard sign in:</b>
-->
		<div class="register_form">
		<%= form_tag :controller => "users", :action => "authenticate", :opt => 'login' %>
		<div class="field">
			<label>E-mail</label>
			<%= text_field 'login', 'email' %>
		</div>
		<div class="field">
			<label>Password</label>
			<%= password_field 'login', 'password' %>
		</div>
		<p class="error"><%= flash[:error] %></p>
		<%= flash[:error] = "" %>
		<div class="forgot"><%= link_to "Forgot my password", :controller => "users", :action => "forgot_password" %></div>
		</div>
		<div class="sign_up_button"><%= submit_tag 'Log In', :onSubmit => 'return validate();' %></div>
		</div>
		</div>
		</div>
		</div>
	</div>
</div>
<script type="text/javascript" language="javascript" charset="utf-8">
	$("#user_user_type").change(function(){
		if($(this).val()=="Seller"){
			$("#profile_type").show();
		}
	});
</script>
