<% content_for :html_title, "Download #{@resource.title}" %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="heading">
        <span class="sign_up">Download Now</span>
      </div>
      <p>Thank you for purchasing from Research Nation! You can now download the report you purchase by clicking on the icon below.</p>
      <% @resource.attachments.original_files.each_with_index do |attachment,index| %>
      <div class="sign_up_box">
        <div class="download_image">
          <a href="/purchases/download_file/<%=params[:url_slug]%>?attachment=<%= attachment.id%>">
            <%= (image_tag "pdf.png") if attachment.original_content_type.match("pdf")%>
            <%= (image_tag "Word_Doc_Icon.png") if attachment.original_content_type.match("doc") %>
            <%= (image_tag "excel-2010-icon.1.png") if attachment.original_content_type.match("xls") || attachment.original_content_type.match("excel") %>
            <%= (image_tag "file-extension-pps-powerpoint_icon.png") if attachment.original_content_type.match("ppt") %>
          </a>
        </div>
        <div class="download_text">
          <h3><%= attachment.original_file_name %></h3>
          <span><%= (attachment.original_file_size/1024).to_s + "KB"  %></span>
          <% link_to "Click icon to begin download", attachment.original.url%>
          <span>Click on the icon to begin download</a></span>
        </div>
      </div>
    </div>
    <% end %>
    <div class="facebook_back">
      <div class="heading">
        <span class="sign_up">Stay Informed</span>
      </div>
      <div class="sign_up_box">
        <div class="email_box">
          <% form_tag (:controller => 'users', :action => 'subscribe_newsletter') do %>
            <div class="send_mail">
              <label>Sign Up for our monthly newsletter</label>
              <%= text_field 'user', 'email', :value => "Your email address", :class => "email_addres" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
