<% content_for :html_title, "Download #{@resource.title}" %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box">
        <h1 style="margin-top: 5px ! important; margin-bottom: 5px ! important;">Download Now.</h1>
        <b>Thank you for purchasing from Research Nation! You can now download the report you purchase by clicking on the icon below.</b>
      </div>
      <div class="sign_up_box">
        <h4 style="margin-top:0px; border-top:0px;">Your Purchase</h4>
        <% @resource.attachments.original_files.each_with_index do |attachment,index| %>
          <div>
            <div class="download_image">
              <% extension = File.extname(attachment.original_file_name).downcase %>
              <a href="/download_file/<%=params[:url_slug]%>?attachment=<%= attachment.id%>" target="_blank">
              <% if [".doc", ".docx"].include?(extension) %>
                <%= (image_tag "Word_Doc_Icon.png")  %>
              <% elsif [".pdf"].include?(extension) %>
                <%= (image_tag "pdf.png")%>
              <% elsif [".xls", ".xlsx"].include?(extension) %>
                <%= (image_tag "excel-2010-icon.1.png") %>
              <% elsif [".ppt", ".pptx"].include?(extension) %>
                <%= (image_tag "file-extension-pps-powerpoint_icon.png") %>
              <% end %>
            </a>
            <span><%= (attachment.original_file_size/1024).to_s + "KB"  %></span>
            </div>
            <div class="download_text">
              <h3><%= attachment.original_file_name %></h3>
              <span><%= (attachment.original_file_size/1024).to_s + "KB"  %></span>
              <% link_to "Click icon to begin download", attachment.original.url%>
              <span>Click on the icon to begin download</a></span>
            </div>
          </div>
          <% end %>
          <h4>Stay Informed</h4>
          <div class="email_box">
          <% form_tag(:controller => 'users', :action => 'subscribe_newsletter') do %>
            <div class="send_mail">
              <label>Sign Up for our monthly newsletter</label>
              <%= text_field 'user', 'email', :value => "Your email address", :class => "email_address" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
