<% content_for :html_title, "Purchase #{@resource.title}" %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box message_heading_box">
        <h1 style="margin-top: 0px !important; margin-bottom: 5px !important;">Payment Details</h1>
      </div>
      <div class="sign_up_box">
       <h4 style="margin-top:0px !important; border-top:0px;">Your Purchase</h4>
       <p><%= @resource.title %></p>
       <% @resource.attachments.original_files.each_with_index do |attachment,index| %>
       <div class="download_image">
         <%= (image_tag "pdf.png") if attachment.original_content_type.match("pdf")%>
         <%= (image_tag "Word_Doc_Icon.png") if attachment.original_content_type.match("doc") %>
         <%= (image_tag "excel-2010-icon.1.png") if attachment.original_content_type.match("xls") || attachment.original_content_type.match("excel") %>
         <%= (image_tag "file-extension-pps-powerpoint_icon.png") if attachment.original_content_type.match("ppt") %>
         <i><%= (attachment.original_file_size/1024).to_s + "KB"  %></i>
       </div>
       <% end %>
       <div class="how_it_work">
		    <h4>How It Works</h4>
				<p>Please fill out your payment details below to complete your purchase. Once you click on 'Submit', we'll verify your payment information, and you'll then be able to download the file you purchased</p>
			</div>
    <div class="error">
      <% @order.errors.each do |err| %>
        <p><%= err.join(" ").capitalize %><p>
      <% end %>
    </div>

    <% form_for(@order , :url => {:action => "resource"}, :html => {:id => "purchase-resource" } ) do |f| %>
		<div class="login_tab">
        <h4>Payment Details</h4>
         <%= hidden_field 'order', 'resource_id', :value => @resource.id %>
         <%= hidden_field 'order', 'buyer_id', :value => current_user.id %>
         <div class="field">
           <label>Name</label>
           <%= text_field 'order', 'first_name', :size => "10", :style => "margin-right:6px;", :value => "First", :class => "required validate-alpha first_name"%>
           <%= text_field 'order', 'last_name', :size => "10", :style => "margin-right:6px;", :value => "Last", :class => "required validate-alpha"%>
         </div>
         <div class="field">
           <label>Address</label>
           <%= text_area 'order', 'address', :class => "required"%>
         </div>
         <div class="field">
           <label>City</label>
           <%= text_field 'order', 'city', :class => "required"%>
         </div>
         <div class="field">
           <label>State</label>
           <%= text_field 'order', 'state', :class => "required validate-alpha"%>
         </div>
         <div class="field">
           <label>ZIP Code</label>
           <%= text_field 'order', 'zip', :class => "validate-alphanum required"%>
         </div>
         <div class="field">
           <label>Country </label>
           <%= country_select("order", "country", ["United Kingdom", "United States"], { :include_blank => true } , {:class => 'required'}) %>
         </div>
         <div class="field">
           <label>Card Type </label>
           <%= select "order", "card_type" , [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] , { :class => "card_field" } %>
         </div>
         <div class="field">
           <label>Card Number </label>
            <%= text_field 'order', 'card_number', :class => "required validate-digits"%>
         </div>
         <div class="field">
            <label for="card_verification_CVV Code">CVV Code</label>
            <% label :card_verification, "CVV Code" %>
            <%= text_field 'order', 'card_verification', :class => "required validate-digits"%>
         </div>
         <div class="field">
           <label>Expires On</label>
           <%= date_select 'order', 'card_expires_on', :discard_day => true %>
         </div>
       </div>
       <h4>Agreement</h4>
      <div class="policies_filed">
        <input id="agree" type="checkbox" name="accept" value="1" class="conditions validate-one-required" />
         <div class="terms_and_conditions conditions">
       <p>By signing up you agree to our </p><%= link_to "Terms of Service,", :controller => "main", :action => "privacy" %><p class="comma"></p><%= link_to "Privacy Policy ", :controller => "main", :action => "privacy" %><% unless @resource.terms_and_conditions.blank? %><p>and</p><a id="terms_link" >any additional terms</a><p> imposed by the seller</p><% end %></div>
         </div>
      </div>
    <div class="policies_filed">
      <%= submit_tag "Submit", :class => "green_button"%>
    </div>
    </div>
    
  <% end %>
</div>
<script type="text/javascript">
  new Validation('purchase-resource');
  document.getElementById("terms_link").onclick = show_terms;
    function show_terms(){
      window.open("/resources/user_terms_and_conditions/<%= @resource.id %>","terms_and_conditions","location=1,status=1,scrollbars=1, width=250,height=250, screenX=900, screenY=250");
    };
</script>

