<div class="wrapper" id="page">
	<h1><%= @request.description %></h1>
	<div class="contentWithSideBar">
		<h3>Ask a Questions or post a comment</h3>

		<img src="/images/budget.png" alt="deadline" title="Deadline" />
      <%= @request.budget %>
		</div>
		<img src="/images/deadline.png" alt="deadline" title="Deadline" />
    <%= @request.deadline %>
	</div>
  <div class="shortForm">
    <div class="input text">
      <label for="comment_name">Name</label>
      <%= text_field 'post', 'user_name', 'size' => 30, :disabled => 'true'  , :value => "#{@request.user.first_name} #{@request.user.last_name}"  %>
    </div>
    <div class="input text">
      <label for="comment_email">E-mail Address (optional, will not be shared)</label>
      <%= text_field 'post', 'email', 'size' => 30, :disabled => 'true', :value => @request.user.email %>
    </div>
    <div class="input textarea">
      <label for="comment_body">Comment</label>
      <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=106573539424936&amp;xfbml=1"></script><fb:comments href="http://#{request.host}/what_others_are_requesting/<%= @request.id %>" num_posts="2" width="500"></fb:comments>
    </div>
  </div>
	<div id="attachPopup" class="jqmWindow jqmID2">
		<div class="jqmPage page">
	    <a href="#" class="jqmClose"><img alt="close" src="european-union-with-category-information_files/close_button.png"></a>
      You must be logged in.  <a href="/users/login">Sign in now</a>.
    </div>
  </div>
	<div style="clear: both;"></div>
</div>
