<% unless @resource.attachments.original_files.blank? %>
  <div class="purchase_box">
    <div class="ratings_box">
      <h4 class="box_heading">Document Details</h4>
      <div class="sign_up_box">
        <% @resource.attachments.original_files.each_with_index do |attachment,index| %>
            <div class="seller_page_downloads_image">
              <%= file_type_image(attachment)%>
              <div class="attachment_details">
                <span><%= (attachment.original_file_size/1024).to_s + "KB"  %></span>
                <span><%= attachment.details%></span>
              </div>
              <% if session[:admin] %>
                <a href="#" class="attachment_details_link">(edit)</a>
                <% form_tag "/resources/add_attachment_details", {:class => "attachment_details_form"}  do %>
                  <%= text_field :attachment, :details, :style => "width:200px;" %>
                  <%= hidden_field_tag "url_slug",  @resource.url_slug %>
                  <%= hidden_field :attachment, :id, :value => attachment.id %>
                  <%= submit_tag "Submit"%>
                <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>