<div class="purchase_box">
  <div class="purchase_price">
    <b>US$<%= @resource.selling_price %></b>
    <% if !@resource.attachments.blank? && !@resource.attachments.original_files.blank? %>
      <% if current_user && (current_user.is_admin? || current_user.id == @resource.user_id || @resource.selling_price == 0) %>
        <%= (link_to 'Download', { :controller => "purchases", :action => 'download', :url_slug => @resource.url_slug }, { :class => "green_button"})  %>
      <% else %>
        <%= (link_to 'Purchase', { :controller => "purchases", :action => 'resource', :url_slug => @resource.url_slug }, { :class => "green_button"})  %>
      <% end %>
    <% elsif !current_user.profile.url_slug.blank? %>
        <%= (link_to 'Request', { :controller => "resources", :action => 'request_resource', :url_slug => @resource.url_slug }, { :class => "green_button"})  %>
    <% else %>
        <%= (link_to 'Request', { :controller => "resources", :action => 'fill_your_profile'}, { :class => "green_button"})  %>
    <% end %>
    </div>
</div>
