<% if @resources.blank? %>
Sorry, no posts found that match your criteria.
<% else %>
  <% @resources.each do |resource| %>
    <div class="post">
      <div>
        <div class="post_title">
          <% unless (resource.user.profile.blank? || resource.user.profile.photo_file_name.blank?)%>
            <%= (image_tag resource.user.profile.photo.url(:small)) %>
          <% else%>
            <%= (image_tag "avatar_30.png")%>
          <% end %>
          <div class="user_name">
            <span><%= link_to ( resource.title, :action => 'seller_page', :url_slug => resource.url_slug ) %></span>
            <p> <%= resource.user.profile.name unless resource.user.profile.blank? %> </p>
          </div>
          <div class="tags_box">
            <p>$<%= resource.selling_price %></p>
            <%= "<p>Deleted Post</p>" if resource.is_deleted? %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
