<% @resources.each do |resource| %>
  <div class="post">
    <% link_to (:action => 'seller_page', :id => resource.id) do %>
    <div class="post_title">
      <% unless (resource.user.profile.blank? || resource.user.profile.picture.blank? || resource.user.profile.picture.picture_path.blank?) %>
        <%= (image_tag resource.user.profile.picture.picture_path) %>
      <% else%>
        <%= (image_tag "avatar.png")%>
      <% end %>
      <span clas><%= resource.title %></span>
      <p>$<%= resource.selling_price %></p>
    </div>
    <div class="user_name_box">
      <span> <%= resource.user.profile.name unless resource.user.profile.blank? %> </span>
    </div>
    <div class="tags_box">
      <span> <%= resource.industry %> </span>
      <span> <%= resource.geography %> </span>
    </div>
    <div class="description">
      <p><%= truncate(resource.description , 230, "...(more)") %></p>
    </div>
  <% end %>
  </div>
<% end %>
