<% @resources.each do |resource| %>
  <div class="post">
    <% link_to (:action => 'seller_page', :url_slug => resource.url_slug) do %>
    <div class="post_title">
      <% unless (resource.user.profile.blank? || resource.user.profile.photo_file_name.blank?)%>
        <%= (image_tag resource.user.profile.photo.url(:browse)) %>
      <% else%>
        <%= (image_tag "avatar.png")%>
      <% end %>
      <div class="user_name">
        <span><%= resource.title %></span>
        <p> <%= resource.user.profile.name unless resource.user.profile.blank? %> </p>
      </div>
      <div class="tags_box">
        <p>$<%= resource.selling_price %></p>
        <span> <%= resource.industry %> </span>
        <span> <%= resource.geography %> </span>
      </div>
    </div>
    <div class="description">
      <p><%= truncate(resource.description , 230, "...(more)") %></p>
    </div>
  <% end %>
  </div>
<% end %>
