<% if @resources.blank? %>
<i>Sorry, no listings found that match your criteria.</i>
<% else %>
  <% @resources.each do |resource| %>
    <div class="post">
      <div>
        <div class="post_title">
          <div class="user_image">
            <% unless (resource.user.profile.blank? || resource.user.profile.photo_file_name.blank?)%>
              <%= (image_tag resource.user.profile.photo.url(:small)) %>
            <% else%>
              <%= (image_tag "avatar_30.png")%>
            <% end %>
          </div>
          <div class="user_name">
            <span><%= link_to(truncate(resource.title, 50, ".."), :action => 'seller_page', :url_slug => resource.url_slug ) %></span>
            <p> <%= resource.user.profile.name unless resource.user.profile.blank? %> </p>
          </div>
          <div class="tags_box">
            <p>$<%= resource.selling_price %></p>
            <%= "<p>Deleted Listing</p>" if resource.is_deleted? %>
          </div>
          <div class="ratings">
            <%= ratings_for resource, :static , :remote_options => {:url => "/resources/rate/#{resource.url_slug}"}%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

-->