<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="heading">
        <b>Download Now</b>
      </div>
      <p>Thank you for purchasing from Research Nation! You can now download the report you purchase by clicking on the icon below.</p>
      <% @attachments.each_with_index do |attachment,index| %>
      <div class="sign_up_box">
        <div class="download_image">
          <%= (image_tag "pdf.png") if attachment.original_content_type.match("pdf")%>
       <%= (image_tag "Word_Doc_Icon.png") if attachment.original_content_type.match("doc") %>
       <%= (image_tag "excel-2010-icon.1.png") if attachment.original_content_type.match("xls") || attachment.original_content_type.match("excel") %>
       <%= (image_tag "file-extension-pps-powerpoint_icon.png") if attachment.original_content_type.match("ppt") %>
        </div>
        <div class="download_text">
          <h3><%= attachment.original_file_name %></h3>
          <span><%= (attachment.original_file_size/1024).to_s + "KB"  %></span>
          <span><%= link_to "Click icon to begin download", attachment.original.url%></span>
        </div>
      </div>
      <% end %>
      <div class="heading">
        <b>Stay Informed</b>
        <div class="sign_up_box">
          <div class="email_box">
            <% form_tag (:controller => 'users', :action => 'subscribe_newsletter') do %>
              <%= text_field 'user', 'email', :value => "Enter Your Email Address" %>
           <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
