<% content_for :html_title, "Edit #{@resource.title}" %>
<div class="content">
  <div class="how_it_work_left_side">
    <div class="seller_back">
      <div class="create_heading_box">
        <h1>Edit Your Post.</h1>
        <b>Please feel free to make changes to your post below. Price can not be edited, all other fields can.
        </b>
      </div>
      <%= form_tag ( { :controller => "resources", :action => "update", :url_slug =>  @resource.url_slug} , { :multipart => true, :id => "edit_resource" }) %>
        <div class="sign_up_box" style="padding-top:20px;">
          <div class="field">
            <label for = "title">Title*</label>
            <%= text_field 'resource', 'title', :class => 'required text_field max_len', :max_length => 100 %>
          </div>
          <div class="field">
            <label for="summary">Exec Summary*</label>
            <%= text_area 'resource', 'description', :class => 'required text_field max_len', :max_length => 3000 %>
          </div>
          <div class="field">
            <label for="selling_price">Price*</label>
            <%= text_field 'resource', 'selling_price', :disabled => true, :class => 'text_field max_len', :max_length => 25 %>
          </div>
          <div class="field">
            <label for="industry">Industry*</label>
            <%= text_field 'resource', 'industry', :class => 'required text_field max_len', :max_length => 25 %>
          </div>
          <div class="field">
            <label for="geography">Geography*</label>
            <%= text_field 'resource', 'geography', :class => 'required text_field'%>
          </div>
          <div class="field">
            <label for="sources">Sources & Methodology*</label>
            <%= text_area 'resource', 'sources', :class => 'required text_field max_len', :max_length => 3000%>
          </div>
          <div class="field">
            <label for="terms">Seller Terms</label>
            <%= text_area 'resource', 'terms_and_conditions', :class => 'text_field max_len', :max_length => 3000%>
          </div>
          <div class="field">
            <label for="terms">Sample</label>
            <%= file_field_tag 'sample', :class => 'text_field'%>
          </div>
        <% unless @resource.attachments.sample.blank? %>
            <div class="sample">
              <%= link_to "Delete Sample", :controller => 'resources', :action => 'remove_sample', :url_slug => @resource.url_slug unless @resource.attachments.sample.blank? %>
          <% end %>
        </div>
        <div class="submit_button">
          <%= submit_tag 'Update', :class => "green_button" %>
        </div>
     </div>
  </div>
</div>
