<div class="content">
<div class="how_it_work_left_side">
<div class="seller_back">
<span class="sign_up">Edit Post</span>
<%= form_tag ( { :controller => "resources", :action => "update", :id => @resource.id, :user_id => @user.id} , { :multipart => true }) %>
  <div class="sign_up_box" style="padding-top:20px;">
    <div class="field">
      <label for = "title">Title</label>
      <%= text_field 'resource', 'title'%>
    </div>
    <div class="field">
      <label for="summary">Summary</label>
      <%= text_area 'resource', 'description'%>
    </div>
    <div class="field">
      <label for="selling_price">Selling Price</label>
      <%= text_field 'resource', 'selling_price'%>
    </div>
    <div class="field">
      <label for="industry">Industry</label>
      <%= text_field 'resource', 'industry'%>
    </div>
    <div class="field">
      <label for="geography">Geography</label>
      <%= text_field 'resource', 'geography'%>
    </div>
    <div class="field">
      <label for="sources">Sources</label>
      <%= text_area 'resource', 'sources'%>
    </div>
    <div class="field">
      <label for="terms">Terms and Conditions</label>
      <%= text_area 'resource', 'terms_and_conditions'%>
    </div>
    <div class="field">
      <label for="terms">Sample</label>
      <%= file_field_tag 'sample'%>
    </div>
    <% unless @resource.attachments.sample.blank? %>
    <div class="sample">
      <p>Sample : <%= @resource.attachments.sample.first.file_name %> </p>
      <%= link_to "Delete", :controller => 'resources', :action => 'remove_sample', :id => @resource.attachments.sample.first.id %>
    <% end %>
    </div>
 </div>
  
<div class="sign_up_button">
  <%= submit_tag 'Update' %>
</div>

</div>
</div>
</div>
