<div class="register_form">
<h3>Edit the post here</h3>
<% form_for(@resource, :url => {:controller => "resources", :action => "update", :id => @resource.id }) do |f| %>
  <div class="field">
    <label for = "title">Title</label>
    <%= f.text_field 'title', :class => "firstName overlay" %>
  </div>
  <div class="field">
    <label for="selling_price">Selling Price</label>
    <%= f.text_field 'selling_price' %>
  </div>
  <div class="field">
    <label for="summary">Summary</label>
    <%= f.text_area 'description' %>
  </div>
  <div class="field">
    <label for="about_seller">About Seller</label>
    <%= text_area_tag 'about_me', "#{@resource.user.about_me}"  %>
  </div>
  <div class="sign_up_button">
    <%= f.submit 'Update' %>
  </div>
<% end %>
</div>
