<div class="content">
	<div class="content_back">
    <div class="seller_left">
      <div class="seller_back">
         <h3>Create a Post</h3>
           <img src="/images/looding_image.jpg" />
           <div class="looding_text">
             <b>YOUR DETAILS</b>
             <h5>UPLOAD & SELL DOCS</h5>
             <h6>COMPLETE</h6>
            </div>
            <div class="register_form">
              <h2>1. Your Details </h2>
              <%= form_tag ( { :controller => "resources", :action => "post" }, :id => "user_form" ) %>
               <div class="form">
                 <div class="field">
                   <label>Full Name*</label>
                   <%= text_field 'user', "name", :class => 'required min_len', :value => "#{@user.name if logged_in? }", :disabled => (logged_in? ? true : false), :min_length => 2, :size => 23 %>
                 </div>
                 <div class="field">
                   <label>E-mail*</label>
                     <%= text_field 'user', 'email', :class => 'required email' , :disabled => (logged_in? ? true : false), :size => 23 %>
                 </div>
                <div class="field">
                  <label>Company*</label>
                  <%= text_field 'user', 'company', :class => 'required', :size => 23 %>
                </div>
                <div class="field">
                  <label>Title*</label>
                  <%= text_field 'user', 'work', :class => 'required', :size => 23 %>
                </div>
                <div class="field">
                  <label>Website</label>
                  <%= text_field 'user', 'website', :size => 23 %>
                </div>
                <div class="field">
                  <label>Contact*</label>
                  <%= text_field 'user', 'contact', :class => 'required', :size => 23 %>
                </div>
                <div class="field">
                  <label>LinkedIn</label>
                  <%= text_field 'user', 'linked_in_profile', :size => 23 %>
                </div>
            </div>
            <div class="field">
              <label>About You*</label>
              <%= text_area 'user', 'about_me', :max_length => 700, :class => 'required max_len' %>
              <h5>1000</h5>
            </div>
          </div>
          <div class="sign_up_button"><%= submit_tag "Proceed to Next Step"%></div>
        </div>
      </div>
      <div class="seller_right">
        <div class="koala_review koala_review1">
          <div class="guidelines">
            <h2>Koala Tips</h2>
            <h3>Add your LinkedIn profile</h3>
            <p>It's a great way to showcase your talents, and makes your post just a tad bit more personal
            <h3>Publish free</h3>
            <p>Odd as it may sound, you might want to consider publishing your first report free of charge. Build a repu tation first, then start charging - you're more likely to get paid traffic that way
            <h3>Choose your words wisely</h3>
            <p> Use the 'About Me' in your profile to talk about what your core expertise is, and try to connect it to the research that you are sharing/publishing
            <h3>Follow the rules</h3>
            <p>Please don't share information that doesn't belong to you! Copyright violations are not cool
            <h3>Privacy and Confidentiality</h3>
            <p>Rest assured, we will NEVER compromise your information. Your e-mail address remains hidden at all times, unless you want it to be shown
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
    $(document).ready(function(){
show_text_count();
        function show_text_count(){
            var len = 700 - $('#user_about_me').val().length
            $('.field h5').text(len);
        }
        $('#user_about_me').keypress(function(){
           show_text_count();
        });

        $('#user_form').submit(function(){
            return validate_form();
        });
    });

</script>
<!--
<div id="imageModal" class="reveal-modal">
    <img src="/images/preview.png" width="1024" height="768" />
    <a class="close-reveal-modal">&#215;</a>
</div>
-->
