<script>

$('document').ready(function(){
	$("#terms_link").fancybox();
})

function showTab(value) 
	{
		if(value == "one")
		{
			document.getElementById('tabOne').style.display = "block"
			document.getElementById('tabTwo').style.display = "none"

			document.getElementById('tab1').style.background = "#FFFFFF"
			document.getElementById('tab1').style.color = "#245a83"

			document.getElementById('tab2').style.background = "#bfbfb5"
			document.getElementById('tab2').style.color = "#FFFFFF"

		return true;
		}
		if(value == "two")
		{
			document.getElementById('tabOne').style.display = "none"
			document.getElementById('tabTwo').style.display = "block"

			document.getElementById('tab2').style.background = "#FFFFFF"
			document.getElementById('tab2').style.color = "#245a83"

			document.getElementById('tab1').style.background = "#bfbfb5"
			document.getElementById('tab1').style.color = "#FFFFFF"
			return true;
		}
	}
</script>

<div class="content">
	<div class="how_it_work_left_side">
		<div class="seller_back">
		<span class="sign_up">Payment Details</span>
		<div class="sign_up_box">
			<h4 style="margin-top:0px;">Your Purchase</h4>
      <p><%= @resource.title %></p>
       <% @attachments.each_with_index do |attachment,index| %>
       <div class="download_image">
         <%= (image_tag "pdf.png") if attachment.original_content_type.match("pdf")%>
         <%= (image_tag "Word_Doc_Icon.png") if attachment.original_content_type.match("doc") %>
         <%= (image_tag "excel-2010-icon.1.png") if attachment.original_content_type.match("xls") || attachment.original_content_type.match("excel") %>
         <%= (image_tag "file-extension-pps-powerpoint_icon.png") if attachment.original_content_type.match("ppt") %>
         <i><%= (attachment.original_file_size/1024).to_s + "KB"  %></i>
       </div>
       <% end %>
       <div class="how_it_work">
		    <h4>How It Works</h4>
				<p>Please fill out your payment details below to complete your purchase. Once you click on 'Submit', we'll verify your payment information, and you'll then be able to download the file you purchased</p>
			</div>
		<div class="login_tab">
      <h4>Payment Details</h4>
       <%= hidden_field 'order', 'resource_id', :value => @resource.id %>
       <%= hidden_field 'order', 'buyer_id', :value => current_user.id %>
       <div class="field">
         <label>Name</label>
         <%= text_field 'order', 'first_name', :size => "10", :style => "margin-right:6px;", :value => "First" %>
         <%= text_field 'order', 'last_name', :size => "10", :style => "margin-right:6px;", :value => "Last" %>
       </div>
       <div class="field">
         <label>Address</label>
         <%= text_area 'order', 'address'%>
       </div>
       <div class="field">
         <label>City</label>
         <%= text_field 'order', 'city'%>
       </div>
       <div class="field">
         <label>State</label>
         <%= text_field 'order', 'state'%>
       </div>
       <div class="field">
         <label>ZIP Code</label>
         <%= text_field 'order', 'zip'%>
       </div>
       <div class="field">
         <label>Country </label>
         <%= country_select("profile", "country", ["United Kingdom", "United States"], { :include_blank => true } , {:class => 'card_type '}) %>
       </div>
       <div class="field">
         <label>Card Type </label>
         <%= select_tag "order[card_type]", options_for_select( @card_types ) %>
       </div>
       <div class="field">
         <label>Card Number </label>
          <%= text_field 'order', 'card_number'%>
       </div>
       <div class="field">
         <label>Expires On</label>
         <%= date_select 'order', 'card_expires_on', :discard_day => true %>
       </div>
     </div>
     <h4>Agreement</h4>
     <% unless @resource.terms_and_conditions.blank? %>
       <div style="display: none;">
         <div id="terms_and_conditions" style="width:700px;height:250px;overflow:hidden;left:-192px;bottom:20px;">
         <div class="policies_filed">
           <b>License and Any Other Terms from Seller</b>
           <span><%= @resource.terms_and_conditions %></span>
         </div>
       </div>
     <% end %>
   </div>

   <div class="policies_filed">
     <input class="conditions" type="checkbox" name="accept" value="" />
     <div class="terms_and_conditions conditions">
       <p>By signing up you agree to our </p><%= link_to "Terms of Service ", :controller => "main", :action => "privacy" %><p class="comma">,</p><%= link_to "Privacy Policy", :controller => "main", :action => "privacy" %> <% unless @resource.terms_and_conditions.blank? %><p>and</p><a id="terms_link" href="#terms_and_conditions" >any additional terms</a><p> imposed by the seller</p><% end %></div>
     </div>
   </div>
   <div class="policies_filed">
      <a class="green_button" href="/resources/download/<%= @resource.id %>">Submit</a>
   </div>
 </div>
</div>
