<div class="wrapper" id="page">
	<%= error_messages_for :resource %>
  <h1>Upload documents to sell</h1>
  <div id="resource" class="contentWithSideBar">
    <%= form_tag  ({ :controller => 'resources', :action => 'create' } , :multipart => true ) %>
      <div class="shortForm">
        <div class="input text">
	        <label for="post_name">Your Name (as you want it to appear publicly);</label>
          <%= text_field 'post', 'name', 'size' => 30, :disabled => 'true' , :value => ( @user.first_name + " " + @user.last_name ) unless @user.blank? %>
        </div>
        <div class="input text">
	        <label for="post_email">E-mail Address (click here to see how it's used);</label>
          <%= text_field 'post', 'email', 'size' => 30, :disabled => 'true' , :value => @user.email unless @user.blank? %>
        </div>
        <div class="input text">
	        <label for="post_name">Linkedin profile (why we need it);</label>
          <%= text_field 'post', 'linked_in', 'size' => 30, :disabled => 'true' , :value => ( @user.linked_in_profile unless @user.blank? ) %>
        </div>
        <div class="input_file">
	        <label for="post_name">Attachment(s)</label>
	        <%= file_field 'document', 'attachment', { :id => "post_attachment" } %>
	        <a id="attach_another_file">Attach Another File</a>
        </div>
	      <div class="input text">
	        <label for="post_name">Title</label>
          <%= text_field 'post', 'title' %>
        </div>
	      <div class="input text">
	        <label for="post_name">Selling Price</label>
          <%= text_field 'post', 'selling_price' %>
        </div>    
        <div class="input textarea">
	        <label for="post_body">Your Research, in 140 characters:</label>
	        <%= text_area 'post', 'description', :cols => "40", :rows => "5" %>
        </div>
        <div class="submit">
	        <%= submit_tag 'Post' %>
		    </div>
	</div>
</div>
<div class="sideBar">
  <div id="formats" class="panel">
    <h3>Did you know?</h3>
    <p>All of the data sold at Data Marketplace is available immediately for download in the following easy to access formats:</p>
</div>
</div>
<div style="clear: both;"></div>
<script type="text/javascript" language="javascript" charset="utf-8">
	var n=0;
	jQuery('#attach_another_file').click(function(){
		n += 1;
		if(n < 3){
			jQuery(".input_file").append('<input name="document[attachment-'+n+']" type="file">');
			}
		else
		{
			alert("You cannnot upload more than three fiels");
		}
	});
</script>
