<% content_for :html_title, "#{ @resource.title }" %>
<%= javascript_include_tag "seller" %>

<div class="content">
  <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
  <div class="content_back post_back">
    <div class="categories_box">
      <b><span><%= link_to @resource.industry, :controller => 'resources', :action => 'view_posts', :filter => @resource.industry %></span> <span><%= link_to @resource.geography, :controller => 'resources', :action => 'view_posts', :filter => @resource.geography %></span></b>
    </div>
    <div class="custom_images">
      <a href="" class="addthis_button_twitter">
        <img src="/images/twitter.png" width="16" height="16" alt="Share to Twitter" border="0" />
      </a>
      <a href="http://www.addthis.com/bookmark.php" class="addthis_button_email">
        <img src="/images/email.png" width="16" height="16" border="0" alt="Email" />
      </a>
      <iframe src="http://www.facebook.com/plugins/like.php?href=/post/<%= @resource.url_slug%>&amp;send=false&amp;layout=button_count&amp;width=55&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:21px;margin-top:3px" allowTransparency="true"></iframe>  
    </div>
    <div class="author">
      <div class="post_details">
        <h2><%= @resource.title %></h2>
        <div class="Post_author_details">
          <% unless @resource.user.profile.name.blank? %>
          <b>By
            <% if @resource.user.profile && @resource.user.profile.is_edited %>
              <%= (link_to @resource.user.profile.name, :controller => 'profiles', :action => 'profile_page', :url_slug => @resource.user.profile.url_slug ) %>
            <% else %>
              <%= @resource.user.profile.name %>
            <% end%>
          <% end %>
            <span><% if @resource.user.company? %>
              <% unless @resource.user.profile.city.blank? %> <%= ",  #{@resource.user.profile.city} #{@resource.user.profile.country}" %> <% end %>
            <% else%>
            <% unless @resource.user.profile.key_individual.blank? %>
              <%= ",  #{@resource.user.profile.key_individual.title}" unless  @resource.user.profile.key_individual.title.blank? %>
              <%= " at #{@resource.user.profile.key_individual.name}" unless @resource.user.profile.key_individual.name.blank? %>
            <% end %>
            <% end %></span>
          </b>
        </div>
      </div>
    </div>
    <div class="left_content">
      <div class="seller_back">
        <div class="login_tab seller_tab">
          <%= link_to 'Summary','#Summary', :class => 'sign_up seller_links', :id => 'summary_link', :onclick => 'showTab("one");' %>
          <%= (link_to 'Sources','#Sources', :class => 'login seller_links', :id => 'sources_link', :onclick => 'showTab("four");') unless @resource.sources.blank? %>
          <%= (link_to 'Seller','#Seller', :class => 'login seller_links', :id => 'seller_link', :onclick => 'showTab("two");') unless @resource.user.profile.is_edited %>
          <%= (link_to 'Sample','#Sample', :class => 'login seller_links', :id => 'sample_link', :onclick => 'showTab("three");') if @sample %>

          <div style="display: block;" class="sign_up_box seller_blocks" id="summary_details">
            <div class="summary">
              <p><%=  @resource.description.gsub("\n", "<br />")  %></p>
            </div>
          </div>
          <div style="display: none;" class="sign_up_box seller_blocks" id="about_seller">
            <div class="about_seller">
              <p><%=  @resource.user.about_me.gsub("\n", "<br />")  unless (@resource.user.blank? || @resource.user.about_me.blank?) %></p>
            </div>
          </div>
          <div style="display: none;" class="sign_up_box seller_blocks" id="view_sample">
            <div class="view_sample">
              <script type='text/javascript' src='http://www.scribd.com/javascripts/view.js'></script>
              <div id='embedded_flash'><a href="http://www.scribd.com">Scribd</a></div>
              <% unless @sample.blank? %>
                <script type="text/javascript">
                  var scribd_doc = scribd.Document.getDoc( <%= @sample.document_id.to_i %>, '<%= @sample.access_key %>' );
                  var oniPaperReady = function(e){
                  // scribd_doc.api.setPage(3);
                  }
                  scribd_doc.addParam( 'jsapi_version', 1 );
                  scribd_doc.addEventListener( 'iPaperReady', oniPaperReady );
                  scribd_doc.write( 'embedded_flash' );
                </script>
              <% end %>
              </div>
            </div>
          </div>
          <div style="display: none;" class="sign_up_box seller_blocks" id="sources">
            <div class="summary">
              <p><%= @resource.sources.gsub("\n", "<br />") unless @resource.sources.blank?%></p>
          	</div>
        	</div>
      	</div>
        <div class="facebook_back">
          <div class="login_tab">
            <h4 class="box_heading">Reviews & Comments</h4>
            <div style="display: block;" class="sign_up_box">
              <div id="fb-root"></div>
              <script src="http://connect.facebook.net/en_US/all.js#appId=175351785849270&amp;xfbml=1"></script><fb:comments href="http://<%= request.host %>/post/<%= @resource.url_slug %>" num_posts="2" height="150" width="516"></fb:comments>
            </div>
          </div>
        </div>
      </div>

      <div class="purchase_box">
        <div class="purchase_price">
          <b>US$<%= @resource.selling_price %></b>
          <% unless @resource.attachments.blank? %>
            <% if current_user && (current_user.is_admin? || current_user.id == @resource.user_id || @resource.selling_price == 0) %>
              <%= (link_to 'Download', { :controller => "purchases", :action => 'download', :url_slug => @resource.url_slug }, { :class => "green_button"})  %>
            <% else %>
              <%= (link_to 'Purchase', { :controller => "purchases", :action => 'resource', :url_slug => @resource.url_slug }, { :class => "green_button"})  %>
            <% end %>
          <% else %>
              <%= (link_to 'Request', { :controller => "resources", :action => 'request_resource', :url_slug => @resource.url_slug }, { :class => "green_button"})  %>
          <% end %>
          </div>
      </div>
      <div class="purchase_box">
        <div class="author_image_box">
          <%= (image_tag @resource.user.profile.photo.url(:seller)) unless (@resource.user.profile.blank? || @resource.user.profile.photo_file_name.blank?) %>
        <%= (image_tag "avatar_70.png") if @resource.user.profile.blank? || @resource.user.profile.photo_file_name.blank?  %>
        </div>
        <div class="author_name">
          <% unless @resource.user.profile.name.blank? %><b><%= (link_to ( truncate @resource.user.profile.name, :omission => "...", :length => 19), :controller => 'profiles', :action => 'profile_page', :url_slug => @resource.user.profile.url_slug) if @resource.user.profile.is_edited %><% end %></b>
        </div>
        <% unless (!current_user.blank? && current_user.id == @resource.user_id) %>
          <div class="contact_button" style="padding-top:2px;">
            <a class="grey_button" href="#message_form" id="message_link" >Send Message</a>
          </div>
        <% end %>
      </div>
      <% unless @related_posts.blank? %>
      <div class="purchase_box">
        <div class="related_posts">
          <h4 class="box_heading">Related Posts</h4>
          <div class="sign_up_box">
            <% @related_posts.each do |post| %>
              <%= link_to(truncate(post.title, :omission => "...", :length => 30) , :action => 'resources', :action => 'seller_page', :url_slug => post.url_slug) %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<div style="display: none;">
  <div id="message_form" class="message_form" style="width:550px;overflow:hidden;">
    <% unless logged_in? %>
      <% session[:seller_post] = @resource.url_slug %>
      <%= render :partial => 'users/register' %>
    <% else %>
    <div id="form">
			<div id="message"></div>
			  <%= form_remote_tag( :update => 'message',
          :url => {:controller => 'main', :action => 'send_message', :user_id => @resource.user.id }, :after => 'jQuery.fancybox.close();') %>
          <div class="popup_message_box">

            <h2>Contact <%= @resource.user.profile.name %></h2>

            <div class="field">
              <label>Name</label>
              <input type="text" name="name" id="contact_name" class="required" />
            </div>
            <div class="field">
              <label>Email</label>
              <input type="text" name="email" id="contact_email" class="required" />
            </div>
            <div class="field">
              <label>Subject</label>
              <input type="text" name="subject" id="contact_subject" class="required" />
            </div>
            <div class="field">
              <label>Message</label>
              <textarea name="message" rows="8" cols="25" id="contact_message" class="required max_len", max_length=1000 /></textarea>
            </div>
            <div class="send_button">
              <%= submit_tag 'Send Message', :id => 'submit', :class => "green_button" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=YOUR-PROFILE-ID"></script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=YOUR-PROFILE-ID"></script>
