<div class="content">
	<div class="content_back">
    	<div class="round_box">
        	<h3>Create a Post</h3>
            <img src="/images/looding_image2.jpg" />
            <div class="looding_text">
              <%= link_to "YOUR DETAILS", :action => 'new', :user => params[:user] %>
              <b>UPLOAD & SELL DOCS</b>
              <h6>COMPLETE</h6>
            </div>
        	<div class="register_form">
              <h2>2. Upload Your Documents</h2>
                <%= form_tag  ({ :controller => 'resources', :action => 'create_post', :user => params[:user] } , :multipart => true, :id => "upload_form" ) %>
                    <div class="field">
                        <label>Title*</label>
                        <%= text_field 'resource', 'title'%>
                    </div>
                    <div class="field">
                        <label>Exec Summary</label>
                        <%= text_area 'resource', 'description'%>
                        <h5>700</h5>
                    </div>
                    <div class="field">
                        <label>Price(US$)*</label>
                        <%= text_field 'resource', 'selling_price'%>
                        <i>Your document will be rated and reviewed by us, and we may edit it if needed</i>
                    </div>
                    <div class="field">Attachment(s): </div>
                    <div class="field"><label>Sample Document</label><%= file_field_tag 'sample' %></div>
                    <div class="field"><label>Original File</label><%= file_field_tag 'original' %></div>
                    <div class="check_box">
                    	<input type="checkbox" checked="checked" name="checkbox" value="" />
                        <span>Please send me koala updates (via a newsletter) every now and then</span>
                    </div>
            </div>
            <div class="sign_up_button"><%= submit_tag "Proceed to Next Step" %></div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
    $(document).ready(function(){

        show_text_count();
        function show_text_count(){
            var len = 700 - $('#resource_description').val().length
            $('.field h5').text(len);
        }

        $('#resource_description').keypress(function(){
           show_text_count();
        });

        $('#upload_form').submit(function(){
            valid = true;
            $('.error').text("");
            if ($('#resource_title').val()=="")
            {
                $('#resource_title').after('<p class="error">Field cannot be blank</p>');
                valid = false;
            }
            if ($('#resource_title').val().length > 60)
            {
                $('#resource_title').after('<p class="error">Title cannot exceed 60 characters limit</p>');
                valid = false;
            }

            if ($('#resource_description').val().length > 700)
            {
                $('#resource_description').after('<p class="error">Summary cannot exceed 700 characters limit</p>');
                valid = false;
            }
            if ($('#resource_selling_price').val() == "")
            {
                $('#resource_selling_price').after('<p class="error">Price cannot be blank</p>');
                valid = false;
            }
            if ($('#resource_selling_price').val() != $('#resource_selling_price').val().match(/[0-9]{3}/)){
                $('#resource_selling_price').after('<p class="error">Price should be numeric and between 0 to 999</p>');
                valid = false;
            }
            return valid;
        });

    });

</script>
