<% content_for :html_title, 'Create a Post' %>
<%= javascript_include_tag "upload_form" %>

<div class="content">
    <div class="how_it_work_left_side">

      <div class="seller_back">
          <a id="login_link" href="#login_form" ></a>
          <div style="display: none;">
	        <% unless logged_in? %>
	            <div id="login_form" style="width:700px;height:250px;overflow:hidden;left:-192px;bottom:20px;">
                <%= render :partial => 'users/register'%>
            </div>
            <% end %>
          </div>
          <div class="create_heading_box">
            <h1 style="margin-top:5px !important; margin-bottom:5px !important;">Create a Post.</h1>
            <b>Please fill out the form below if you want to sell documents, or post an idea. You can edit and/or delete it at any time, except for the price field.
            </b>
          </div>
          <div class="sign_up_box">
              <% form_for(@resource , :url => { :controller => 'resources', :action => 'create_post', :user => params[:user] }, :html => { :multipart => true } ) do |f| %>
              <h4 class="heading_color" style="border-top:0px;">Describe What You're Selling</h4>
              <div class="field">
                  <label>Title*</label>
                  <%= text_field 'resource', 'title', :class => 'field_width required max_len tip', :max_length => 100, :title => "Tell us what this post is about. Mention any geographic or industry focus." %>
              </div>
              <div class="field">
                  <label>Exec Summary*</label>
                  <%= text_area 'resource', 'description', :class => 'max_len required tip', :max_length => 3000, :title => "Please be as detailed as possible, and structure your answers properly, in paragraphs and with proper grammar." %>
              </div>
              <div class="field">
                  <label>Industry*</label>
                  <%= text_field 'resource', 'industry', :class => 'required max_len', :max_length => 25 %>
              </div>
              <div class="field">
                  <label>Geography*</label>
                  <%= text_field 'resource', 'geography', :class => 'required max_len', :max_length => 25 %>
                  <div class="loading">
                    <!-- <img src="/images/loading_big.gif" alt="uploading files..." title="uploading files..." /> -->
                  </div>
              </div>
              <div class="field">
                  <label>Price(US$)*</label>
                  <%= text_field 'resource', 'selling_price', :class => 'required valid_price tip', :title => "Price can be between US$0 to US$5,000" %>
              </div>
              <div class="field"><label>Attachment(s): </label></div>
              <div class="field"><label>Sample Document</label><%= file_field  "attachment", 'sample', :class => 'file', :size => "22" %></div>
              <div class="field " id="documents"><label>Original File</label><%= file_field "attachment", 'original[0]', :class => 'file', :size => "22" %></div>
              <%= link_to "(Add another file)", "#documents", :id => "add_another_file", :class => 'add_attachment_link', :size => "22" %>
              <div class="field">
                <label>Sources and Methodology</label>
                <%= text_area 'resource', 'sources', :class => 'max_len tip', :max_length => 3000, :title => "Identify your information sources and methodology (where applicable)." %>
              </div>
              <div class="field">
                <label>Seller Terms</label>
                <%= text_area 'resource', 'terms_and_conditions', :class => 'max_len tip', :max_length => 3000, :title => "Use this field only if you want to add any special terms and conditions, or a license, to your sale item." %>
              </div>
              <% if logged_in? && (current_user.profile.blank? || !current_user.profile.is_edited) %>
                <h4 class="heading_color">Your Details</h4>
                <% unless (@user.blank? || @user.email.blank? || (@user.profile && @user.profile.is_edited))  %>
                  <div class="field">
                    <label>About Me*</label>
                    <%= text_area 'profile', 'description', :class => 'required max_len', :max_length => 3000 %>
                    <i class="italicized_text">Minimum recommended length is 300 characters.</i>
                  </div>
                <% end %>
                  <div class="field">
                    <label>Name*</label>
                    <%= text_field 'profile', 'name', :class => 'required' %>
                  </div>
                  <div class="field">
                    <label>Title</label>
                    <%= text_field 'key_individual', 'title', :class => 'text_width' %>
                  </div>
                  <div class="field">
                    <label>Company</label>
                    <%= text_field 'key_individual', 'name', :class => 'text_width' %>
                  </div>
                  <div class="field">
                    <label>City*</label>
                    <%= text_field 'profile', 'city', :class => 'required' %>
                  </div>
                  <div class="field">
                    <label>Country*</label>
                    <%= country_select("profile", "country", ["United Kingdom", "United States"], { :include_blank => true } , {:class => 'required select_list'}) %>
                  </div>
                <% end %>
            </div>
            <% unless params[:user_id].blank? %>
              <input type="hidden" name="user_id" value="<%= params[:user_id]%>"/> 
            <% end %>
            <div class="submit_button"><%= submit_tag "Submit", :class => "green_button" %></div>
          </div>
          <% end %>
      </div>
  </div>
