<% content_for :html_title, 'Create A Post' %>
<%= javascript_include_tag "upload_form" %>

<div class="content">
    <div class="how_it_work_left_side">

      <div class="seller_back">
          <a id="login_link" href="#login_form" ></a>
          <div style="display: none;">
	        <% unless logged_in? %>
	            <div id="login_form" style="width:700px;height:250px;overflow:hidden;left:-192px;bottom:20px;">
                <%= render :partial => 'users/register'%>
            </div>
            <% end %>
          </div>
          <div class="create_heading_box">
            <h1 style="margin-top:5px !important; margin-bottom:5px !important;">Create a Post.</h1>
            <b>Share your data and insights with the world. Make money and build a reputation. Get started below (or, fill out a profile first by clicking
             <%= (link_to "here", :controller => 'profiles', :action => 'edit_individual_profile', :id => current_user.id) if current_user && current_user.individual? %>
            <%= (link_to "here", :controller => 'profiles', :action => 'edit_company_profile', :id => current_user.id) if current_user && current_user.company? %>).
            </b>
          </div>
          <div class="sign_up_box">
              <% form_for(@resource , :url => { :controller => 'resources', :action => 'create_post', :user => params[:user] }, :html => { :multipart => true } ) do |f| %>
              <h4 style="border-top:0px;">Your Post</h4>
              <div class="field">
                  <label>Title*</label>
                  <%= text_field 'resource', 'title', :class => 'field_width required max_len tip', :max_length => 100, :title => "Tell us what this post is about. Mention any geographic or industry focus, as well as the type of research (e.g. call transcripts, reports, surveys, projections, dataset)." %>
              </div>
              <div class="field">
                  <label>Exec Summary*</label>
                  <%= text_area 'resource', 'description', :class => 'max_len required tip', :max_length => 3000, :title => "Please be as detailed as possible, and structure your answers properly, in paragraphs and with proper grammar. Do not try to skip this or write a short post - minimum recommended length is 750-1000 characters. For each file, you should (1) describe what's in it, (2) mention your sources/ establish your credibility, and (3) provide one or two key takeaways." %>
              </div>
              <div class="field">
                  <label>Industry*</label>
                  <%= text_field 'resource', 'industry', :class => 'required max_len', :max_length => 25 %>
              </div>
              <div class="field">
                  <label>Geography*</label>
                  <%= text_field 'resource', 'geography', :class => 'required max_len', :max_length => 25 %>
                  <div class="loading">
                    <!-- <img src="/images/loading_big.gif" alt="uploading files..." title="uploading files..." /> -->
                  </div>
              </div>
              <div class="field">
                  <label>Price(US$)*</label>
                  <%= text_field 'resource', 'selling_price', :class => 'required valid_price tip', :title => "Price can be between US$0 to US$1000. Be practical when you set a price - and ask yourself how much you yourself would pay for it. Most documents shared by individuals will sell for US$0-US$500. If you're a first time publisher, consider selling for free to build a following first. Also keep in mind that this is more than just about selling your research - you can publish for free, and make money as a featured expert, billing by the hour (feature coming soon). So it makes sense to set price at a reasonable level, where people will buy. Also note that you can't change your price later. " %>
              </div>
              <div class="field"><label>Attachment(s): </label></div>
              <div class="field"><label>Sample Document</label><%= file_field  "attachment", 'sample', :class => 'file', :size => "22" %></div>
              <div class="field " id="documents"><label>Original File*</label><%= file_field "attachment", 'original[0]', :class => 'required file', :size => "22" %></div>
              <%= link_to "(Add another file)", "#documents", :id => "add_another_file", :class => 'add_attachment_link', :size => "22" %>
              <div class="field">
                <label>Sources and Methodology*</label>
                <%= text_area 'resource', 'sources', :class => 'required max_len tip', :max_length => 3000, :title => "Describe how you collected information, including the sources used (e.g. in person interviews, data sets, websites etc) and the methodology for gathering this information (e.g. if it's a survey, how did you select the target pool etc)." %>
              </div>
              <div class="field">
                <label>Seller Terms</label>
                <%= text_area 'resource', 'terms_and_conditions', :class => 'max_len tip', :max_length => 3000, :title => "Use this field only if you want to add any special terms and conditions, or a license, to your post. Individuals need not worry about this - it's mostly useful for companies only. Your post will always be protected by our site's Terms and Conditions and Privacy Policy." %>
              </div>
              <% if logged_in? && !current_user.profile.is_edited %>
                <h4>Your Details</h4>
                <% unless (@user.blank? || @user.email.blank? || @user.profile.is_edited)  %>
                  <div class="field">
                    <label>About Me*</label>
                    <%= text_area 'profile', 'description', :class => 'required max_len', :max_length => 3000 %>
                  </div>
                <% end %>
                  <div class="field">
                    <label>Name*</label>
                    <%= text_field 'profile', 'name', :class => 'required' %>
                  </div>
                  <div class="field">
                    <label>Title</label>
                    <%= text_field 'key_individual', 'title', :class => 'text_width' %>
                  </div>
                  <div class="field">
                    <label>Company</label>
                    <%= text_field 'key_individual', 'name', :class => 'text_width' %>
                  </div>
                  <div class="field">
                    <label>City*</label>
                    <%= text_field 'profile', 'city', :class => 'required' %>
                  </div>
                  <div class="field">
                    <label>Country*</label>
                    <%= country_select("profile", "country", ["United Kingdom", "United States"], { :include_blank => true } , {:class => 'required select_list'}) %>
                  </div>
                <% end %>
            </div>
            <div class="submit_button"><%= submit_tag "Submit", :class => "green_button" %></div>
          </div>
          <% end %>
      </div>
  </div>
