<%= javascript_include_tag "upload_form" %>

<div class="content">
    <div class="how_it_work_left_side">

      <div class="seller_back">
          <!--
          <div class="looding_text">
            <img src="/images/looding_image2.jpg" />
            <%= link_to "YOUR DETAILS", :action => 'new', :user => params[:user] %>
            <b>UPLOAD & SELL DOCS</b>
            <h6>COMPLETE</h6>
          </div>
          -->
          <a id="login_link" href="#login_form" ></a>
          <div style="display: none;">
	        <% unless logged_in? %>
	        <div id="login_form" style="width:540px;height:250px;overflow:hidden;">
              <h2>Login</h2>
              <%= render :partial => 'users/login'%>
            </div>
            <% end %>
          </div>
          <span id="tab2" class="sign_up">Create a Post</span>
          <div class="sign_up_box">
              <% form_for(@resource , :url => { :controller => 'resources', :action => 'create_post', :user => params[:user] }, :html => { :multipart => true } ) do |f| %>

              <div class="field">
                  <label>Title*</label>
                  <%= text_field 'resource', 'title', :class => 'required max_len', :max_length => 140 %>
              </div>
              <div class="field">
                  <label>Exec Summary</label>
                  <%= text_area 'resource', 'description', :class => 'max_len', :max_length => 1000 %>
                  <h5>1000</h5>
              </div>
              <div class="field">
                  <label>Industry*</label>
                  <%= text_field 'resource', 'industry', :class => 'required max_len', :max_length => 70 %>
              </div>
              <div class="field">
                  <label>Geography*</label>
                  <%= text_field 'resource', 'geography', :class => 'required max_len', :max_length => 70 %>
                  <div class="loading">
                    <img src="/images/loading_big.gif" alt="uploading files..." title="uploading files..." />
                  </div>
              </div>
              <div class="field">
                  <label>Price(US$)*</label>
                  <%= text_field 'resource', 'selling_price', :class => 'required valid_price' %>
              </div>
              <div class="field"><label>Attachment(s): </label></div>
              <div class="field"><label>Sample Document</label><%= file_field 'attachments','sample', :class => 'file' %></div>
              <div class="field " id="documents"><label>Original File*</label><%= file_field 'attachments', 'original', :class => 'required file' %></div>
              <%= link_to "add_another_file", "#add_another_file", :id => "add_another_file" %>
              <div class="field">
                <label>Sources*</label>
                <%= text_area 'resource', 'sources', :class => 'required max_len', :max_length => 3000 %>
              </div>
              <div class="field">
                <label>Terms and Conditions</label>
                <%= text_area 'resource', 'terms_and_conditions', :class => 'max_len', :max_length => 3000 %>
              </div>
              <% unless (@user.blank? || @user.profile.is_edited) %>
              <div class="field">
                <label>About Me</label>
                <%= text_area 'user', 'about_me', :class => 'required max_len', :max_length => 3000 %>
              </div>
              <% end %>
            </div>
            <div class="sign_up_button"><%= submit_tag "Proceed to Next Step" %></div>
          </div>
          <% end %>
      </div>
      <%= render :partial => 'main/how_it_works_links' %>
  </div>
</div>
