<div class="header">
	<%= link_to image_tag("logo.png"),:controller => "main", :action => "index" %>
	<div class="main_menu_box">
	  <ul class="main_menu">
      <li class="sell_link"><%= link_to "Create", :controller => "resources", :action => "new" %></li>
	    <% if logged_in? %>
	    	<li class="logout"><%= (link_to 'Logout', :controller => 'users', :action => 'logout')  %></li>
        <% end %>
		  <% if is_admin? %>
        <li class="admin"><%= (link_to "Admin", :controller => "admin", :action => "dashboard") %></li>
      <% end %>
      <% unless logged_in? %>
        <li class="create_link"><%= (link_to 'Sign Up', :controller => 'users', :action => 'register', :opt => 'signup') %></li>
        <li class="create_link"><%= (link_to 'Login', :controller => 'users', :action => 'register', :opt => 'login') %></li>
      <% end %>
      <% if logged_in? %>
        <li style="border-left:0px;" class="user_dasboard">
          <%= (link_to 'My Dashboard', :controller => 'users', :action => 'profile' ) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
