<div class="header">
	<%= link_to image_tag("logo.png"),:controller => "main", :action => "index" %>
	<div class="main_menu_box">
	  <ul class="main_menu">
	    <table border="0" cellspacing="5" cellpadding="5" width="100%">
			  <tbody>
          <tr class="seperator">
            <% if logged_in? %>
              <td width="20"><%= (link_to 'Logout', :controller => 'users', :action => 'logout')  %></td>
            <% end %>
            <% if is_admin? %>
              <td width="30">
                <%= (link_to "Admin", :controller => "admin", :action => "dashboard") %>
              </td>
            <% end %>
            <% if logged_in? %>
              <td width="120">
                <%= (link_to 'Home', :controller => 'users', :action => 'profile' ) %>
              </td>
              <td width=""><%= (link_to 'My Profile', :controller => 'profiles', :action => 'edit_individual_profile') if current_user.individual? %>
              <%= (link_to 'My Profile', :controller => 'profiles', :action => 'edit_company_profile', :id => current_user.id ) if current_user.company? %>
              </td>
            <% end %>
            <% unless logged_in? %>
              <td width="20">
                <%= (link_to 'Login', :controller => 'users', :action => 'register', :opt => 'login') %>
              </td>
            <% end %>
            <td width="20">
              <%= (link_to 'Browse', :controller => 'resources', :action => 'view_posts') %>
            </td>
            <td width="20" style="border-left:0px;">
              <%= link_to "Create", :controller => "resources", :action => "new" %>
            </td>
          </tr>
        </tbody>
      </table>
    </ul>
  </div>
</div>
