<div class="header">
	<div class="main_menu_box">
	  <%= link_to image_tag("logo.png"),:controller => "main", :action => "index" %>
	  <ul class="main_menu">
		<% if logged_in? %>
	         <li class="logout"><%= (link_to 'Logout', :controller => 'users', :action => 'logout')  %></li>
           
         	 <li class="create_link"><%= (link_to 'Add a Review', :controller => 'comments', :action => 'new')  %></li>

        <% end %>
		<% if is_admin? %>
                <li class="admin"><%= (link_to "Admin", :controller => "admin", :action => "dashboard") %></li>
        <% end %>
        <% unless logged_in? %>
                <li class="create_link" style="border-right:0px;"><%= (link_to 'Sign Up', :controller => 'users', :action => 'register', :opt => 'signup') %></li>
                <li class="create_link"><%= (link_to 'Login', :controller => 'users', :action => 'register', :opt => 'login') %></li>
        <% end %>
        <% if logged_in? %>
		<li class="sell_link"><a href="http://researchnation.net/browse/posts">Browse</a></li>
              <li style="border-left:0px;" class="user_dasboard">
                <%= (link_to 'Home', :controller => 'users', :action => 'profile' ) %>
               </li>
        <% end %>
	   </ul>
      </div>
</div>
