<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Research Nation</title>

    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "validations" %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "researchnation" %>
    <%= javascript_include_tag "verticaltabs.pack" %>
    <%= javascript_include_tag "verticaltabs" %>

  </head>
  <body>
	  <div class="wrapper">
	    <%= render :partial => '/layouts/header'%>
			<div class="content">
				<div style="margin-top: 20px; clear:both;" class="resource_buttons">
					<a target="_blank" href="http://google.com/analytics" style="font-size:1.2em; padding:2px !important; margin-left:10px;" >Google Analytics</a>
				</div>
				<div style="margin-top: 20px;" class="resource_buttons">
					<a target="_blank" href="http://google.com/a/researchnation.net" style="font-size:1.2em; padding:2px !important;" >Admin E-mail</a>
						<a target="_blank" href="http://mailchimp.com" style="font-size:1.2em; padding:2px !important;" >MailChimp</a>
				</div>
      	<%= yield %>
    	</div>
    <%= render :partial => '/layouts/footer'%>
  	</div>
  	<%= render :partail => '/layouts/google_analytics'%>
  </body>
</html>

