<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Research Nation</title>

    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "validations" %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "researchnation" %>
    <%= javascript_include_tag "verticaltabs.pack" %>
    <%= javascript_include_tag "verticaltabs" %>

  </head>
  <body>
	  <div class="wrapper">
	    <%= render :partial => '/layouts/header'%>
			<div class="content">
				<div style="margin-top: 20px; clear:both;" class="resource_buttons">
					<a href="browse.html" style="font-size:1.2em; padding:2px !important; margin-left:10px;" >Google Analytics</a>
				</div>
				<div style="margin-top: 20px;" class="resource_buttons">
					<a href="browse.html" style="font-size:1.2em; padding:2px !important;" >Admin E-mail</a>
				</div>
				<ul class="tabs">
          <li><%= link_to "Users (#{User.count})", { :controller => 'admin', :action => 'users' }  %></li>
          <li><%= link_to "Posts (#{Resource.count})", :controller => 'admin', :action => 'posts' %></li>
          <li><%= link_to "Admin Rights (#{})", { :controller => 'admin', :action => 'admin_rights'} , { :id => 'admin_rights' }%></li>
          <li><%= link_to "Mailchimp", :controller => 'admin', :action => 'mail_chimp_list' %></li>
          <li><a href="#">Payments</a></li>
        </ul>
      	<%= yield %>
    	</div>
    <%= render :partial => '/layouts/footer'%>
  	</div>
  	<%= render :partail => '/layouts/google_analytics'%>
  </body>
</html>

