<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="MTZt0VbfL7xfTkGNUSAGeOKwyRXCryjJphlT_k4v2fk" />
    <title>Research Nation: Admin Panel </title>

    <%= stylesheet_link_tag "style" %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "verticaltabs.pack" %>
    <%= javascript_include_tag "verticaltabs" %>


  </head>
  <body>
	  <div class="wrapper">
	    <%= render :partial => '/layouts/header'%>
			<div class="content">
			  <% unless flash[:notice].blank? %><p class="flash"><%= flash[:notice] %></p><% end %>
				<div style="margin-top: 20px; clear:both;" class="admin_button">
					<a target="_blank" class="green_button" href="http://google.com/analytics" style="font-size:1.2em; padding:2px !important; margin-left:10px;" >Google Analytics</a>
					<a target="_blank" class="green_button" href="http://google.com/a/researchnation.net" style="font-size:1.2em; padding:2px !important;" >Admin E-mail</a>
						<a target="_blank" class="green_button" href="http://mailchimp.com" style="font-size:1.2em; padding:2px !important;" >MailChimp</a>
				</div>
        <%= render :partial => 'admin_links' %>
      	<%= yield %>
    	</div>
    <%= render :partial => '/layouts/footer'%>
  	</div>
  	<%= render :partial => '/layouts/google_analytics'%>
  </body>
</html>

