<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Research Nation: <%= (html_title = yield :html_title) ? html_title : '' %> </title>

    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag 'jquery.tools.min'%>
    <%= javascript_include_tag "validation" %>
  </head>
  <body>
	  <div class="wrapper">
	    <%= render :partial => '/layouts/header'%>
      <%= yield %>
      <%= render :partial => '/layouts/footer'%>
    </div>
    <%= render :partail => '/layouts/google_analytics'%>
  </body>
</html>
